<style>
  .tb-text {
    background-position: -406px -41px;
    border: 1px solid #a7a6ac;
    color: #666;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 3px 2px 0 3px;
    width: 36px;
  }
</style>
<md-dialog aria-label="dish" class="ang-dialog" ng-cloak ng-model="dish">
  <md-button ng-click="closeModal()" class="close-dialog-btn">
    <i id="close-icon" class="material-icons">close</i>
  </md-button>

  <div class="dialog-content">
    <md-dialog-content class="text-center">

      <div class="padding-10">
        <h1 class="md-headline">BAG</h1>
      </div>


      <div class="bag-information text-left">
        <div layout="row" class="margin-bottom-10" ng-repeat="bagDish in bagDishes">
          <div class="bag-dish-image padding-10" flex="30">
            <img src="/assets/img/tacos.jpg" alt="">
          </div>
          <div class="padding-10 order-detail" flex="70" layout="row" layout-wrap>
            <h5 flex="70">{{bagDish.name}}</h5>
            <div flex="30">
              <p class="text-right">${{bagDish.price}}   x <input class="tb-text" type="text" value="{{bagDish.qty}}" id="{{bagDish.id}}" ng-blur="changeQty(bagDish.id,bagDish.qty)" >
                <span style=" display: inline-block;vertical-align: middle;">
                  <span class="material-icons" ng-click="changeQty(bagDish.id,bagDish.qty,1)">keyboard_arrow_up</span>
                  <span class="material-icons" ng-click="changeQty(bagDish.id,bagDish.qty,-1)">keyboard_arrow_down</span>
			    </span>

              </p>

            </div>
            <h6 flex="100">Options:</h6>
            <div flex="50">
              <md-select class="margin-0" ng-model="option1">
                <md-option ng-repeat="option in ['garlic', 'butter']">
                  {{option}}
                </md-option>
              </md-select>
              Qty:<input class="tb-text" type="text" value="1">
            </div>
            <div flex="50">
              <md-select class="margin-0" ng-model="option2">
                <md-option ng-repeat="option in ['bread', 'rice']">
                  {{option}}
                </md-option>
              </md-select>
              Qty:<input class="tb-text" type="text" value="1">
            </div>
          </div>
        </div>

        <md-divider></md-divider>

        <div class="bag-checkout-info padding-20" layout="column">
          <h6>Subtotal:<span class="float-right">${{orderTotal}}</span></h6>
          <h6>Shipping Cost:<span class="float-right">$0</span></h6>
          <h6>Tax:<span class="float-right">$10</span></h6>
          <br />
          <h4>Order Total:<span class="float-right">${{orderTotal}}</span></h4>
        </div>
        <br>
        <div layout="row">
          <md-button class="md-raised md-primary" flex ng-click="checkout()">CHECKOUT</md-button>
        </div>
      </div>
    </md-dialog-content>
  </div>
</md-dialog>

