<div layout="column" layout-padding>
    <br />
    <md-content class="md-no-momentum" layout-padding>
        <h2 class="layout-padding layout-align-center-center layout-row">SHARE</h2>
        </md-input-container>
        <md-button class="md-fab md-mini md-primary" layout-align="center center" socialshare-url="{{shareData.url}}" socialshare-text="{{shareData.title}}" socialshare-description="{{shareData.desc}}" socialshare-provider="facebook" socialshare=""><i class="fa fa-facebook fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
        <md-button class="md-fab md-mini md-primary" layout-align="center center" socialshare-url="{{shareData.url}}" socialshare-provider="google+" socialshare=""><i class="fa fa-google fa-2x"  style="color: white ; padding-top: 7px"></i></md-button>
        <md-button class="md-fab md-mini md-primary" layout-align="center center" socialshare-url="{{shareData.url}}" socialshare-text="{{shareData.title}}" socialshare-description="{{shareData.desc}}" socialshare-provider="linkedin" socialshare=""><i class="fa fa-linkedin-square fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
        <md-button class="md-fab md-mini md-primary" layout-align="center center" socialshare-url="{{shareData.url}}" socialshare-text="{{shareData.title}}" socialshare-provider="twitter" socialshare=""><i class="fa fa-twitter fa-2x"  style="color: white ; padding-top: 7px"></i></md-button>
    </md-content>
</div>