<md-dialog aria-label="add to list" class="ang-dialog" ng-cloak >
  <md-button ng-click="closeModal()" class="close-dialog-btn">
    <i id="close-icon" class="material-icons">close</i>
  </md-button>

  <div class="dialog-content padding-top-10 text-center">
    <md-dialog-content>
      <div class="margin-10">
        <h1 class="md-headline">{{modalTitle}}</h1>
      </div>

      <div layout="row" layout-wrap>
        <section flex-xs="50" flex-sm="50" flex-md="20" flex-gt-md="20" class="box" ng-repeat="modalUser in modalUsers">
          <div class="box-content">
            <a ui-sref="main.cpProfile.lists({userId:1})" ng-click="closeModal()">
              <p>{{modalUser}}</p>
            </a>
          </div>
        </section>
      </div>
    </md-dialog-content>
  </div>
</md-dialog>
