	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/Account.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>账户信息</p>
	</div>
	<div class="row">
		<div class="col-sm-9 col-xs-9 div-section">
			上传头像
		</div>
		<div class="col-sm-3 col-xs-3 text-right div-section">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9 col-xs-9 div-section">
			用户昵称
		</div>
		<div class="col-sm-3 col-xs-3 text-right div-section">
			心往
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9 col-xs-9 div-section">
			收货地址
		</div>
		<div class="col-sm-3 col-xs-3 text-right div-section">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="line"></div>
	<div class="row">
		<div class="col-sm-8 col-xs-8 div-section">
			绑定手机
		</div>
		<div class="col-sm-4 col-xs-4 text-right div-section phone-color">
			188****1566
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9 col-xs-9 div-section" ui-sref="changePwd">
			修改密码登陆
		</div>
		<div class="col-sm-3 col-xs-3 text-right div-section">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="marbom"></div>
	