	<link rel="stylesheet" href="/assets/css/Account.css">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">账户信息</p>
	</div>
	<div class="padding"></div>
	<div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
	<div class="row" ui-sref="updataTotal">
		<div class="col-sm-9 col-xs-9 div-section">
			上传头像
		</div>
		<div class="col-sm-3 col-xs-3 text-right div-section">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="row" ui-sref="nickname">
		<div class="col-sm-5 col-xs-5 div-section">
			用户昵称
		</div>
		<div ng-cloak class="col-sm-7 col-xs-7 text-right div-section text-overflow">
			{{nickname}}
		</div>
	</div>
	<div class="row"ui-sref="Maddress">
		<div class="col-sm-9 col-xs-9 div-section">
			收货地址
		</div>
		<div class="col-sm-3 col-xs-3 text-right div-section">
			<img src="/assets/img/line.png" alt="" class="lines" >
		</div>
	</div>
	<div class="line"></div>
	<div class="row">
		<div class="col-sm-8 col-xs-8 div-section">
			绑定手机
		</div>
		<div ng-cloak class="col-sm-4 col-xs-4 text-right div-section phone-color">
			{{phone}}
		</div>
	</div>
	<div class="row" ui-sref="changePwd">
		<div class="col-sm-9 col-xs-9 div-section">
			修改密码登陆
		</div>
		<div class="col-sm-3 col-xs-3 text-right div-section">
			<img src="/assets/img/line.png" alt="" class="lines" >
		</div>
	</div>
	<div class="marbom"></div>
	