<!-- <link rel="stylesheet" href="/assets/css/information.css"> -->
<div class="information">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">创建支付</p>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
<div class="uploadMsgs">
	<div class="msg-items">
		<span>会员手机</span>
		<input type="tel" ng-model="mobile" ng-keyup="chose()">
	</div>
	<div class="msg-items">
		<span>消费金额</span>
		<input type="text" ng-model="total" ng-keyup="jiner()">
	</div>
	<div class="msg-items">
		<span style="width: 2.8rem;">优惠券抵扣</span>
		<input type="text" ng-model="bds" readonly="">
	</div>
	<!-- 默认不显示部分 -->
	<div ng-repeat="zp in pay.zp_list">
		<div class="msg-items">
			<span style="text-indent: 1em;float: left;">赠品</span>
			<input type="text" class="zenpin desc1" readonly="" value="{{zp.zp_name}}{{(zp.zp_num)}}件">
			<button class="anniu" ng-click="zp.zp_nums=(zp.zp_nums-1)>0?(zp.zp_nums-1):0">-</button>
			<input class="munZen" ng-model="zp.zp_nums" style="min-width:1.1rem;max-width:1.8rem;height:1.2rem" readonly="" ng-init="zp.zp_nums=0">
			<button class="anniu" ng-click="zp.zp_nums=(zp.zp_nums+1)>zp.zp_num?zp.zp_num:(zp.zp_nums+1)">+</button>
		</div>
	</div>
	<!-- 默认不显示部分 -->
	<div class="msg-items">
		<span style="text-indent: 1em;">备注</span>
		<input type="text" ng-model="remark">
	</div>
	<button ng-click="affirm()" class="choseAdd">确认保存</button>	
</div>
</div>
</div>