<link rel="stylesheet" href="/assets/css/information.css">

	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>创建支付</p>
	</div>
	<div class="padding"></div>
<div class="uploadMsgs">
	<div class="msg-items">
		<span>会员手机</span>
		<input type="text">
	</div>
	<div class="msg-items">
		<span>消费金额</span>
		<input type="text">
	</div>
	<!-- 默认不显示部分 -->
	<div class="msg-items">
		<span style="text-indent: 1em;float: left;">赠品</span>
		<input type="text" class="zenpin">
		<button class="anniu">-</button>
		<p class="munZen">0</p>
		<button class="anniu">+</button>
	</div>
	<div class="msg-items">
		<span style="text-indent: 1em;float: left;visibility: hidden;">赠品</span>
		<input type="text" class="zenpin">
		<button class="anniu">-</button>
		<p class="munZen">0</p>
		<button class="anniu">+</button>
	</div>
	<!-- 默认不显示部分 -->
	<div class="msg-items">
		<span style="text-indent: 1em;">备注</span>
		<input type="text">
	</div>

	<button ng-click="affirm()" class="choseAdd">确认保存</button>	
</div>