<link rel="stylesheet" href="/assets/css/allIndent.css">
<link rel="stylesheet" href="/assets/css/overflow.css">
<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
<div class="row" ng-repeat="pr in arr">
	<div class="col-sm-12 col-xs-12 indentMsg">
		<div ng-cloak class="indentId">订单ID：{{pr.orders.order_id}}</div>
		<div ng-cloak class="indemtTime">
			下单时间：{{pr.orders.create_time}}
		</div>
	</div>
	<div class="col-sm-12 col-xs-12 bgt" ng-repeat="good in pr.goods">
		<div class="indent-center">
			<div class="indentPhoto">
				<img ng-src="http://wap.51loveshow.com/attachs/{{good.g_photo}}" alt="">
			</div>
			<div class="indent-num">
				<p ng-cloak class="text-overflow">{{good.g_title}}</p>
				<div>小计：<span ng-cloak>￥{{good.price/100}}x{{good.num}}={{good.total_price/100}}元</span></div>
				<!-- <div>使用秀币：<span ng-cloak>{{good.g_use_integral}}抵现：{{good.g_use_integral/100}}元</span></div> -->
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-xs-12 indentMsg">
		<div ng-if="pr.orders.is_daofu==0">实际支付：<span ng-cloak class="indentPrice">￥{{pr.orders.need_pay/100}}</span> 元</div>
		<div ng-if="pr.orders.is_daofu==1">实际支付：<span ng-cloak class="indentPrice">￥{{(pr.orders.total_price-pr.orders.mobile_fan-pr.orders.use_integral)/100}}</span> 元</div>
	</div>
	<div class="col-sm-12 col-xs-12 btmindent">
		<div>
			<button class="pingjia" ng-if="pr.orders.is_daofu==1&&pr.orders.status==3&&pr.orders.is_dianping==0||pr.orders.is_daofu==0&&pr.orders.status==8&&pr.orders.is_dianping==0" ui-sref="Opinion({order_id:pr.orders.order_id})">我要评价</button>
			<button class="pingjia" ng-if="pr.orders.is_dianping==1">已点评</button>
			<button class="pingjia" ng-if="pr.orders.status==0" ng-click="delect(pr.orders.order_id)">取消订单</button>
			<button class="productIt" ui-sref="SubmitOrder({order_id:pr.orders.order_id})" ng-if="pr.orders.status==0">付款</button>
			<button class="productIt" ui-sref="IndentMsg({order_id:pr.orders.order_id})">详情</button>
		</div>
	</div>
</div>
<div class="home_shop_nomore" ng-if='noLead'>-您已加载到底了-</div>
</div>