	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/addAddress.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>修改地址</p>
	</div>
	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<label for="shou">收货人</label>
			<input type="text" id="shou">
		</div>
		<div class="col-sm-12 col-xs-12">
			<label for="tel">联系电话</label>
			<input type="text" id="tel">
		</div>
		<div class="col-sm-3 col-xs-3">
			<label for="addr">所在地区</label>
		</div>
		<div class="col-sm-9 col-xs-9 text-right">
			<label for="" class="chosead">请选择</label>
			<img src="/assets/img/line.png" alt="" class="chose-img">
		</div>
		<div class="col-sm-12 col-xs-12 xiangxi">
			<label for="tear" class="chosead">详细地址</label>
			<textarea id="tear" ></textarea>
		</div>
	</div>
	<div class="row default">
		<div class="col-sm-6 col-xs-6">设为默认地址</div>
		<div class="col-sm-6 col-xs-6 default-img text-right">
			<img src="/assets/img/chosef.png" alt="">
		</div>
	</div>
	<div class="row default">
		<div class="col-sm-12 col-xs-12">
			<a href="">删除地址</a>
		</div>
	</div>
	<div class="col-sm-12 col-xs-12">
		<button class="btn-submit">保存</button>
	</div>
	