<div flex-offset-gt-sm="30" flex-sm="100" flex-gt-sm="40" class="checkout-info padding-20" layout="column">
    <div class="text-center margin-bottom-20"><h3>CHECKOUT</h3></div>
    <section class="delivery-info margin-vertical-10">
      <h5 class="margin-bottom-10">DELIVERY INFORMATION</h5>
      <h6>John Doe</h6>
      <p>929-231-5912</p>
      <p>150th Street, New York, NY</p>

      <div layout="column" flex-sm="100" flex="33" layout-align="center center">
        <md-menu md-offset="0 -7">
         <md-button aria-label="Change Address" class="md-raised md-primary" ng-click="$mdOpenMenu($event)">
           CHANGE ADDRESS
         </md-button>
         <md-menu-content width="4">
           <md-menu-item ng-repeat="item in [1,2,3]">
             <md-button ng-click="ctrl.announceClick($index)">
               <span md-menu-align-target>Address</span> {{item}} </md-button>
           </md-menu-item>
         </md-menu-content>
        </md-menu>
      </div>
    </section>

    <section class="margin-vertical-10 payment-info">
      <h5 class="margin-bottom-10">PAYMENT METHOD</h5>
      <md-radio-group ng-model="data.group2">
        <md-radio-button value="1" class="md-primary"><p>1111 XXXX XXXX 0535 | Visa</p></md-radio-button>
        <md-radio-button value="2"><p>1111 XXXX XXXX 0535 | Master</p></md-radio-button>
      </md-radio-group>
      <md-button class="md-raised md-primary block margin-auto margin-top-10" ng-click="showAddCard($event)">Add card</md-button>
    </section>

    <section class="margin-vertical-10">
      <h5 class="margin-bottom-10">TIP AMOUNT:</h5>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-accent">10%</md-button>
        <md-button class="md-raised md-accent">15%</md-button>
        <md-button class="md-raised md-accent">20%</md-button>
      </div>
    </section>

    <section class="order-review" ng-model="dish">
      <h5>ORDER REVIEW:</h5>
      <div layout="row" ng-repeat="checkDish in checkDishes">
        <div flex="30">
          <img src="/assets/img/tacos.jpg" alt="">
        </div>
        <div flex="70">
          <h6>{{checkDish.name + " | $" + checkDish.price}}     x {{checkDish.qty}}</h6>
        </div>
      </div>

    </section>

    <section class="padding-20" layout="column">
      <h6>Subtotal:<span class="float-right">${{getCheckOrderTotal()}}</span></h6>
      <h6>Shipping Cost:<span class="float-right">$0</span></h6>
      <h6>Tax:<span class="float-right">$10</span></h6>
      <h6>Tips:<span class="float-right">$2</span></h6>
      <br />
      <h4>Order Total:<span class="float-right">${{getCheckOrderTotal()}}</span></h4>
    </section>

    <br>
    <md-button class="md-raised md-primary" layout="row" flex>CONFIRM ORDER</md-button>
</div>
