
	<!-- <link rel="stylesheet" href="/assets/css/choseAddress.css"> -->
<div class="choseAddress">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">选择地区</p>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="row" ng-repeat="p in add_p">
		<div ng-click="province_code(p.code)">
			<div ng-cloak class="col-sm-10 col-xs-10">{{p.name}}</div>
			<div class="col-sm-2 col-xs-2 text-right">
				<img src="/assets/img/line.png" alt="" class="lines">
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="c in add_c">
		<div ng-click="choseNear(c.code)">
			<div ng-cloak class="col-sm-10 col-xs-10">{{c.name}}</div>
			<div class="col-sm-2 col-xs-2 text-right">
				<img src="/assets/img/line.png" alt="" class="lines">
			</div>
		</div>
	</div>
		<div class="row" ng-repeat="n in add_near">
		<div ng-click="toacrt(n.code)">
			<div ng-cloak class="col-sm-10 col-xs-10">{{n.name}}</div>
			<div class="col-sm-2 col-xs-2 text-right">
				<img src="/assets/img/line.png" alt="" class="lines">
			</div>
		</div>	
	</div>
	<div class="toBottom">-到底了-</div>
</div>	
</div>