	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/descriptionProducts.css">
	<div class="banner" style="background: url(http://wap.51loveshow.com/attachs/{{detail.photo}}) no-repeat center top;-webkit-background-size: 100%;
	background-size: 100%;">
			<div class="cir cir-left img-circle">
				<img src="/assets/img/img_back_shop_detail.png" alt="" onClick="javascript:history.go(-1);">
			</div>
			<div class="cir cir-right img-circle">
				<img src="/assets/img/img_menu_shop_detail.png" alt="">
			</div>
			<div class="cir cir-right img-circle">
				<img src="/assets/img/img_collect_shop_detail.png" alt="" style="margin: 0.05rem auto auto 0.05rem;">
			</div>
	</div>
	<div class="res-titlt">
		{{detail.shop_name}}
	</div>
	<div class="address">
		<div class="address-left">
			<img src="/assets/img/address2.png" alt="" class="img-center-left">
		</div>
		<div class="address-center text-overflow">
			<span class="address-message  text-overflow">{{detail.addr}}</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/address.png" alt="">
		</div>
	</div>

	<div class="address">
		<div class="address-left">
			<img src="/assets/img/tel.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">{{detail.tel}}</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/phone.png" alt="">
		</div>
	</div>
	<div class="QRcode">
		<div class="address-left">
			<img src="/assets/img/QRcode.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">二维码名片</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/line.png" alt="">
		</div>
	</div>
	<div class="QRcode">
		<div class="address-left">
			<img src="/assets/img/userMag.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">商户信息</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/line.png" alt="">
		</div>
	</div>
	<div class="QRcode">
		<div class="address-left">
			<img src="/assets/img/user.png" alt="" class="img-center-left">
		</div>
		<div class="address-center" ui-sref="smallShop({shop_id:detail.shop_id})">
			<span class="address-message">去逛逛商家微店</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/line.png" alt="">
		</div>
	</div>
	<!-- 用户评价 -->
	<div class="user-comment">
		<div class="user-co">
			<span>用户评价</span>
			<div class="address-right">
			<img src="/assets/img/line.png" alt="">
			</div>
		</div>
		<div class="btn-group">
  			<button class="btn btnact" ng-click="change(1)" ng-if="num==1">全部</button>
  			<button class="btn" ng-click="change(1)" ng-if="num!=1">全部</button>
  			<button class="btn btnact" ng-click="change(2)" ng-if="num==2">最新</button>
  			<button class="btn" ng-click="change(2)" ng-if="num!=2">最新</button>
  			<button class="btn btnact" ng-click="change(3)" ng-if="num==3">晒图评价</button>
  			<button class="btn" ng-click="change(3)" ng-if="num!=3">晒图评价</button>
		</div>
		<div class="none clearfix" ng-if="list==null">暂无评论信息</div>
		<!-- 评论相关信息 -->
		<div class="commentMsg clearfix" ng-repeat="userContent in list">
			<img ng-src="http://wap.51loveshow.com/attachs/{{userContent.user_face}}" alt="" class="userImg">
			<div class="userContent">
				<span class="userName">{{userContent.user_nickname}}</span>
				<img ng-src="" alt="" class="user-level">
				<span class="userDate">{{userContent.create_time|date:"yyyy-MM-dd"}}</span>
				<img ng-src="" alt="" class="star-level">
				<div class="contentText">{{userContent.contents}}</div>
				<div class="eatType"></div>
				<table class="userPhoto"></table>
				<div class="userPhoto">
					<div class="row">
						<div class="col-md-4" ng-repeat="photo in pics.pic">
							<img ng-src="http://wap.51loveshow.com/attachs{{userContent.pic}}" alt="shibai">
						</div>
					</div>
				</div>
				<div class="BusinessRe" ng-if="userContent.reply.length>0"><span>商家回复：</span>{{userContent.reply}}</div>
				<div class="user-like">
					<span>赞{{7088}}</span>
					<button ng-click="">赞</button>
				</div>
			</div>
		</div>
	</div>
<dialog ng-if="dialog.open" close="dialog.open=false"  close-action="esc outerchick">
    <div dialog-title>拉拉秀商城</div>
    <div dialog-content>{{err}}</div>
</dialog>