
<!-- 	<link rel="stylesheet" href="/assets/css/descriptionProducts.css"> -->
<script src="/assets/js/qrcode.min.js"></script>
<div class="descriptionProducts">
<div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="bannerpanner">
		<div class="banner blur" style="background: url(http://139.224.61.180:8080/attachs/{{detail.photo}}) no-repeat center top;-webkit-background-size: 100%;
	background-size:100%;height: 5.32rem;">
		</div>
		<img ng-src="http://139.224.61.180:8080/attachs/{{detail.photo}}" alt="">
		<div class="cir cir-left img-circle backs" onClick="javascript:history.go(-1);" ng-show="type!=1"></div>
		<div class="cir cir-left img-circle backs" onClick="alert('关闭');window.opener=null;window.open('','_self');window.close();" ng-show="type==1"></div>
		<div class="love cir-right img-circle img-r" ng-click="love()"></div>
	</div>
	<div ng-cloak class="res-titlt text-overflow">
		<div ng-if="detail.fg_id==-1" class="text-overflow">{{detail.shop_name}}</div>
		<div ng-if="detail.fg_id!=-1" class="text-overflow">
			<span>{{detail.shop_name}}</span>
			<span ng-if="detail.fd_name!=undefined&&detail.fd_name!=''">({{detail.fd_name}})</span>
		</div>
		<div class="starsAll">
			<img ng-src="/assets/img/star-p.png" alt="" ng-if="detail.score/100>=0.1">
			<img ng-src="/assets/img/star-b.png" alt="" ng-if="detail.score/100<0.1&&detail.score/100>0">
			<img ng-src="/assets/img/star-p.png" alt="" ng-if="detail.score/100>=0.2">
			<img ng-src="/assets/img/star-b.png" alt="" ng-if="detail.score/100<0.2&&detail.score/100>0.1">
			<img ng-src="/assets/img/star-p.png" alt=""  ng-if="detail.score/100>=0.3">
			<img ng-src="/assets/img/star-b.png" alt="" ng-if="detail.score/100<0.3&&detail.score/100>0.2">
			<img ng-src="/assets/img/star-p.png" alt=""  ng-if="detail.score/100>=0.4">
			<img ng-src="/assets/img/star-b.png" alt="" ng-if="detail.score/100<0.4&&detail.score/100>0.3">
			<img ng-src="/assets/img/star-p.png" alt="" ng-if="detail.score/100>=0.5">
			<img ng-src="/assets/img/star-b.png" alt="" ng-if="detail.score/100<0.5&&detail.score/100>0.4">
		</div>
	</div>
	<div class="address " ng-click="daohang()" id="daohang">
		<div class="address-left img-address-left">
		</div>
		<div class="address-center text-overflow">
			<span ng-cloak class="address-message  text-overflow">{{detail.addr}}</span>
		</div>
		<div class="address-right address-right-img">
		</div>
	</div>
	<a href="tel:{{detail.tel}}">
		<div class="address">
			<div class="address-left img-center-left">
			</div>
			<div class="address-center">
				<span ng-cloak class="address-message">{{detail.tel}}</span>
			</div>
			<div class="address-right">
				<span href="tel:{{detail.tel}}" class="telphone"></span>
			</div>
		</div>
	</a>
	<div class="QRcode" ng-click="ewk()">
		<div class="address-left address-left-img">
		</div>
		<div class="address-center">
			<span class="address-message">二维码名片</span>
		</div>
		<div class="address-right addresss-right">
		</div>
	</div>
	<div class="QRcode " ui-sref="shopMsg({shop_id:shops_id,fd_id:detail.fd_id})">
		<div class="address-left second-img">
		</div>
		<div class="address-center">
			<span class="address-message">商户信息</span>
		</div>
		<div class="address-right addresss-right">
		</div>
	</div>
	<div class="QRcode " ui-sref="smallShop({shop_id:detail.shop_id,fd_id:detail.fd_id})">
		<div class="address-left third-img">
		</div>
		<div class="address-center">
			<span class="address-message">去逛逛商家微店</span>
		</div>
		<div class="address-right addresss-right">
		</div>
	</div>
	<!-- 用户评价 -->
	<div class="user-comment">
		<div class="user-co" ui-sref="shopdescAll({shop_id:detail.shop_id})">
			<span>用户评价({{pingNum||0}})</span>
			<div class="address-right addresss-right">
			<!-- <img ng-src="/assets/img/line.png" alt=""> -->
			</div>
		</div>
		<!-- 测试评论区 -->
		<div ng-include="'views/shopdesc.html'" ng-controller="shopdescCtrl">
		</div>
	</div>
</div>
</div>