	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/descriptionProducts.css">
	<div class="banner">
	<!-- <img src="{{detail.photo}}" alt="" style="width: 100%;height: 100%;float: left;"> -->
		<div class="cir cir-left img-circle">
			<img src="/assets/img/img_back_shop_detail.png" alt="">
		</div>
		<div class="cir cir-right img-circle">
			<img src="/assets/img/img_menu_shop_detail.png" alt="">
		</div>
		<div class="cir cir-right img-circle">
			<img src="/assets/img/img_collect_shop_detail.png" alt="" style="margin-top: 0.02rem;">
		</div>
	</div>
	<div class="res-titlt">
		{{detail.shop_name}}
	</div>
	<div class="address">
		<div class="address-left">
			<img src="/assets/img/address2.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">{{detail.addr}}</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/address.png" alt="">
		</div>
	</div>

	<div class="address">
		<div class="address-left">
			<img src="/assets/img/tel.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">{{detail.tel}}</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/phone.png" alt="">
		</div>
	</div>
	<div class="QRcode">
		<div class="address-left">
			<img src="/assets/img/QRcode.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">二维码名片</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/line.png" alt="">
		</div>
	</div>
	<div class="QRcode">
		<div class="address-left">
			<img src="/assets/img/userMag.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">商户信息</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/line.png" alt="">
		</div>
	</div>
	<div class="QRcode">
		<div class="address-left">
			<img src="/assets/img/user.png" alt="" class="img-center-left">
		</div>
		<div class="address-center">
			<span class="address-message">去逛逛商家微店</span>
		</div>
		<div class="address-right">
			<img src="/assets/img/line.png" alt="">
		</div>
	</div>
	<!-- 用户评价 -->
	<div class="user-comment">
		<div class="user-co">
			<span>用户评价</span>
			<div class="address-right">
			<img src="/assets/img/line.png" alt="">
			</div>
		</div>
		<div class="btn-group">
  			<button class="btn btnact">全部</button>
  			<button class="btn">最新</button>
  			<button class="btn">晒图评价</button>
		</div>
		<!-- 评论相关信息 -->
		<div class="commentMsg clearfix">
			<img src="http://139.224.222.18:8080/attachs/{{user_face}}" alt="" class="userImg">
			<div class="userContent">
				<span class="userName">{{list.user_nickname}}</span>
				<img src="" alt="" class="user-level">
				<span class="userDate">{{list.create_time}}</span>
				<img src="" alt="" class="star-level">
				<div class="contentText">{{list.contents}}</div>
				<div class="eatType"></div>
				<table class="userPhoto"></table>
				<div class="userPhoto">
					<div class="row">
						<div class="col-md-4" ng-repeat="photo in pics.pic">
							<img src="{{pohto.pic}}" alt="">
						</div>
					</div>
				</div>
				<div class="BusinessRe">{{list.reply}}</div>
				<div class="user-like">
					<span>赞{{7088}}</span>
					<button ng-click="">赞</button>
				</div>
			</div>
		</div>
	</div>