	<link rel="stylesheet" href="/assets/css/login.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
		<div class="banner">
			<img src="/assets/img/return.png" alt="返回" onClick="javascript:history.go(-1);">
			<p>忘记密码</p>
		</div>
		<div class="center-img">
			<img src="/assets/img/top-banner.png" alt="banner">
		</div>
		<div class="form">
			<input type="text" class="form-control" placeholder="请输入手机号" ng-model="phone" ng-maxlength="11" ng-pattern="/^1[34578]\d{9}$/" required>
			<div class="card">
			<input type="text" class="form-control" placeholder="请输入验证码" ng-model="yzms" ng-maxlength="6" required>
			<timerbutton ng-click="getCards()"></timerbutton>
			</div>
			<input type="password" class="form-control" placeholder="请输入新的密码" ng-model="password" >
			<input type="password" class="form-control" placeholder="重复输入新的密码" ng-model="Npasswords">
			<div class="btn-submit" ng-click="changePWD()"  ng-disabled="yzms.length!=6||password!=Npasswords||password==undefined||Npasswords==undefined">重置密码</div>
		</div>
		<div class="telphone">
				<p>服务电话：400-7731377</p>
		</div>
<dialog ng-if="dialog.open" close="dialog.open=false">
    <div dialog-title>拉拉秀商城</div>
    <div dialog-content>{{err}}</div>
</dialog>