
<div class="home">
	<header>
		<input ng-clock type="text" value="{{area_name}}" ui-sref="choseAddress" class="select text-overflow" placeholder="定位中" readonly="">
		<div class="soso">
			<input type="text" placeholder="输入商家/商品/商圈关键字" ng-model="text" onkeydown="filterByEnter(event)">
			<span class="search-shop" ng-click="soso()"></span>
		</div>
	</header>
	<nav>
		<a ng-click="choseTWO('餐饮饭店')">
			<div >
				<img src="/assets/img/restaurants.png" alt="餐饮饭店">
				<span>餐饮饭店</span>
			</div>
		</a>
		<a ng-click="choseTWO('酒店住宿')">
			<div >
				<img src="/assets/img/img_gv_jiudianzhusu.png" alt="酒店住宿">
				<span>酒店住宿</span>
			</div>
		</a>
		<a ng-click="choseTWO('水果生鲜')">
			<div >
				<img src="/assets/img/img_gv_shuiguoshengxian.png" alt="水果生鲜" >
				<span>水果生鲜</span>
			</div>
		</a>
		<a ng-click="choseTWO('美容美发')">
			<div >
				<img src="/assets/img/img_gv_meirongmeifa.png" alt="美容美发">
				<span>美容美发</span>
			</div>
		</a>
		<a ng-click="choseTWO('休闲娱乐')">
			<div >
				<img src="/assets/img/img_gv_jianshenyule.png" alt="休闲娱乐" >
				<span>休闲娱乐</span>
			</div>
		</a>
		<a ng-click="choseTWO('便利超市')">
			<div >
				<img src="/assets/img/img_gv_bianlichaoshi.png" alt="便利超市">
				<span>便利超市</span>
			</div>
		</a>
		<a ng-click="choseTWO('母婴商店')">
			<div >
				<img src="/assets/img/Maternal-and-child-supplies.png" alt="母婴商店">
				<span>母婴商店</span>
			</div>
		</a>
		<a ng-click="choseTWO('医疗健康')">
			<div >
				<img src="/assets/img/img_gv_yiliaojiankang.png" alt="医疗健康">
				<span>医疗健康</span>
			</div>
		</a>
		<a ng-click="choseTWO('秀币商城')">
			<div >
				<img src="/assets/img/img_gv_jifenshangcheng.png" alt="秀币商城">
				<span>秀币商城</span>
			</div>
		</a>
		<a ng-click="choseTWO('团购优惠')">
			<div >
				<img src="/assets/img/img_gv_tuangouyouhui.png" alt="团购优惠">
				<span>团购优惠</span>
			</div>
		</a>
	</nav>
	<hr class="hr-change">
	<div class="advertisement clearfix">
			<div class="top-left">
				<a ng-if="gg[0].flag==1" ng-href="http://llx.51loveshow.com/product?goods_id={{gg[0].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[0].photo}}" alt=""></a>
				<a ng-if="gg[0].flag==2" ng-href="http://llx.51loveshow.com/smallShop?shop_id={{gg[0].sid}}&fd_id={{gg[0].fid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[0].photo}}" alt=""></a>
				<a ng-if="gg[0].flag==3" ng-href="http://llx.51loveshow.com/xiubiProduct?goods_id={{gg[0].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[0].photo}}" alt=""></a>
			</div>
			<div class="top-right">
				<a ng-if="gg[1].flag==1" ng-href="http://llx.51loveshow.com/product?goods_id={{gg[1].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[1].photo}}" alt=""></a>
				<a ng-if="gg[1].flag==2" ng-href="http://llx.51loveshow.com/smallShop?shop_id={{gg[1].sid}}&fd_id={{gg[1].fid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[1].photo}}" alt=""></a>
				<a ng-if="gg[1].flag==3" ng-href="http://llx.51loveshow.com/xiubiProduct?goods_id={{gg[1].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[1].photo}}" alt=""></a>
			</div>
			<div class="bottom-left">
				<a ng-if="gg[2].flag==1" ng-href="http://llx.51loveshow.com/product?goods_id={{gg[2].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[2].photo}}" alt=""></a>
				<a ng-if="gg[2].flag==2" ng-href="http://llx.51loveshow.com/smallShop?shop_id={{gg[2].sid}}&fd_id={{gg[2].fid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[2].photo}}" alt=""></a>
				<a ng-if="gg[2].flag==3" ng-href="http://llx.51loveshow.com/xiubiProduct?goods_id={{gg[2].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[2].photo}}" alt=""></a>
			</div>
			<div class="bottom-left">
				<a ng-if="gg[3].flag==1" ng-href="http://llx.51loveshow.com/product?goods_id={{gg[3].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[3].photo}}" alt=""></a>
				<a ng-if="gg[3].flag==2" ng-href="http://llx.51loveshow.com/smallShop?shop_id={{gg[3].sid}}&fd_id={{gg[3].fid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[3].photo}}" alt=""></a>
				<a ng-if="gg[3].flag==3" ng-href="http://llx.51loveshow.com/xiubiProduct?goods_id={{gg[3].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[3].photo}}" alt=""></a>
			</div>
			<div class="bottom-right">
				<a ng-if="gg[4].flag==1" ng-href="http://llx.51loveshow.com/product?goods_id={{gg[4].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[4].photo}}" alt=""></a>
				<a ng-if="gg[4].flag==2" ng-href="http://llx.51loveshow.com/smallShop?shop_id={{gg[4].sid}}&fd_id={{gg[4].fid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[4].photo}}" alt=""></a>
				<a ng-if="gg[4].flag==3" ng-href="http://llx.51loveshow.com/xiubiProduct?goods_id={{gg[4].gid}}"><img ng-src="http://139.224.61.180:8080/attachs/{{gg[4].photo}}" alt=""></a>
			</div>
	</div>
	<hr class="hr-change">
	<span class="shop-title">—&nbsp;附近店铺&nbsp;—</span>
	<div class="row marbtm"  infinite-scroll='shops.nextPage()' infinite-scroll-disabled='shops.busy' infinite-scroll-distance='1' >
		<div class="clearfix" ng-repeat="shop in shops.items" ng-click="choseShop(shop.shop_id,shop.fd_id)">
			<div class="col-md-4 col-sm-4 col-xs-4" style="
			position: relative;">
				<img lazy-src="http://139.224.61.180:8080/attachs/{{shop.logo}}" alt="" class="pro-photo">
				<img lazy-src="/assets/img/meng.png" alt=""style="position: absolute; top:-0.12rem;left:0.1rem;width: 2rem;" ng-if="shop.shop_class==1">
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 border-t-b nearShop">
				<div ng-cloak class="col-sm-9 col-xs-9 div-name text-overflow" style="padding:0;color:black;">
				
				<span>{{shop.shop_name}}</span>
				<span ng-if="shop.fd_name!=undefined&&shop.fd_name!=''">({{shop.fd_name}})</span>
				</div>
				<div ng-cloak class="col-sm-3 col-xs-3 shopDistance text-right"style="padding:0;">
					{{shop.juli}}km
				</div>
				<div ng-cloak class="col-sm-12 col-xs-12 shopAddress text-overflow"style="padding:0.25rem 0 0 0;">
					{{shop.addr|cut}}
				</div>
				<div ng-if="shop.shop_class==1">
				<div class="col-sm-6 col-xs-6"style="padding:0;">
					<img ng-src="/assets/img/star.png" alt="" class="star" ng-if="shop.score/100>=0.1">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.1&&shop.score/100>0">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100==0">
					<img ng-src="/assets/img/star.png" alt="" class="star" ng-if="shop.score/100>=0.2">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.2&&shop.score/100>0.1">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.1&&shop.score/100>=0">
					<img ng-src="/assets/img/star.png" alt="" class="star"  ng-if="shop.score/100>=0.3">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.3&&shop.score/100>0.2">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.2&&shop.score/100>=0">
					<img ng-src="/assets/img/star.png" alt="" class="star"  ng-if="shop.score/100>=0.4">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.4&&shop.score/100>0.3">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.3&&shop.score/100>=0">
					<img ng-src="/assets/img/star.png" alt="" class="star" ng-if="shop.score/100>=0.5">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.5&&shop.score/100>0.4">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.4&&shop.score/100>=0">
				</div>
				<div class="col-sm-6 col-xs-6 text-left"style="padding:0;">
					<p ng-cloak class="On-sale">月售{{shop.allsold_num}}单</p>
				</div>
				</div>
				<div ng-if="shop.shop_class==2">
				<div class="col-sm-6 col-xs-6"style="padding:0;">
					<img ng-src="/assets/img/star.png" alt="" class="star" ng-if="shop.score/100>=0.1">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.1&&shop.score/100>0">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100==0">
					<img ng-src="/assets/img/star.png" alt="" class="star" ng-if="shop.score/100>=0.2">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.2&&shop.score/100>0.1">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.1&&shop.score/100>=0">
					<img ng-src="/assets/img/star.png" alt="" class="star"  ng-if="shop.score/100>=0.3">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.3&&shop.score/100>0.2">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.2&&shop.score/100>=0">
					<img ng-src="/assets/img/star.png" alt="" class="star"  ng-if="shop.score/100>=0.4">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.4&&shop.score/100>0.3">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.3&&shop.score/100>=0">
					<img ng-src="/assets/img/star.png" alt="" class="star" ng-if="shop.score/100>=0.5">
					<img ng-src="/assets/img/star3.png" alt="" class="star" ng-if="shop.score/100<0.5&&shop.score/100>0.4">
					<img ng-src="/assets/img/star2.png" alt="" class="star" ng-if="shop.score/100<=0.4&&shop.score/100>=0">
				</div>
				<div class="col-sm-6 col-xs-6 text-left"style="padding:0;">
					<p ng-cloak class="On-sale">月售{{shop.allsold_num}}单</p>
				</div>
				</div>
				<div ng-if="shop.shop_class==2" class="col-sm-12 col-xs-12"style="padding:0;color:#585858; padding-top: 0.1rem;"><p class="ourmembers">平台会员：满￥<span ng-cloak class="ourprice">{{100}}</span>减￥<span ng-cloak class="ourprice">{{shop.yhk2}}</span></p></div>
				<div ng-if="shop.shop_class==1" class="col-sm-12 col-xs-12"style="padding:0;color:#585858;"><p class="ourmembers">本店会员：满￥<span ng-cloak class="ourprice">{{100}}</span>减￥<span ng-cloak class="ourprice">{{shop.yhk1}}</span></p></div>
				<div ng-if="shop.shop_class==1" class="col-sm-12 col-xs-12"style="padding:0;color:#585858;"><p  class="ourmembers">平台会员：满￥<span ng-cloak class="ourprice">{{100}}</span> 减￥<span class="ourprice">{{shop.yhk2}} </span></p>
				</div>
			</div>
		</div>
	</div>
	<div cg-busy="{promise:shops.promise,templateUrl:shops.templateUrl,message:shops.message,backdrop:shops.backdrop,delay:shops.delay,minDuration:shops.minDuration}"></div>
	<div class="home_shop_nomore" ng-show='shops.end'>-暂无更多店铺-</div>
</div>