	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/IndentMsg.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>订单详情</p>
	</div>
	<div class="centerMsg">
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				订单编号
			</div>
			<div class="col-xm-8 col-xs-8 text-right">
				{{msg.order_id}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				订单金额
			</div>
			<div class="col-xm-8 col-xs-8 text-right text-color">
				￥{{msg.order_id/100}}元
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				秀币抵现
			</div>
			<div class="col-xm-8 col-xs-8 text-right text-color">
				￥{{msg.can_use_integral/100}}元
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				实际支付
			</div>
			<div class="col-xm-8 col-xs-8 text-right text-color">
				￥{{msg.need_pay/100}}元
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				下单时间
			</div>
			<div class="col-xm-8 col-xs-8 text-right">
				{{msg.c_time}}
			</div>
		</div>
		<div class="hr-tp"></div>
		<div class="prMsg" ng-repeat="goods in order_goods_info">
			<div class="prMsg-pic">
				<img ng-src="http://wap.51loveshow.com/attachs/{{goods.photo}}" alt="">
			</div>
			<div class="prMsg-title">
				<p>{{goods.title}}</p>
				<span>￥{{goods.price}}</span>
			</div>
			<div class="prMsg-num">
			<p class="text-right">x{{goods.num}}</p>
			</div>
		</div>
	</div>

	<div class="rows">
		<div class="col-sm-12 col-xs-12">
			<button class="btn btn-default success">
				已完成
			</button>
		</div>
	</div>