
	<link rel="stylesheet" href="/assets/css/information.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>消息</p>
	</div>
	<div class="menu row">
		<div class="col-sm-6 col-xs-6 pos-r"ng-class="{'border':chose1}" ng-click="chose(1)">系统通知</div>
		<p class="cir cir1">99</p>
		<div class="col-sm-6 col-xs-6 pos-r" ng-class="{'border':chose2}" ng-click="chose(2)">会员信息</div>
		<p class="cir cir2">99</p>
	</div>
	<div class="systemMsg">
		<div class="Msg-now">
			<div class="Msg-now-left text-overflow">放哪儿放阿瓦达家的娃都没爱我的阿瓦打我娃娃们安尔碘挖到阿瓦打我娃娃们安尔碘挖到阿瓦打我娃娃们安尔碘挖到阿瓦打我娃娃们安尔碘挖到阿瓦打我娃娃们安尔碘挖到阿瓦打我娃娃们安尔碘挖到阿瓦打我娃娃们安尔碘挖到阿瓦打我娃娃们安尔碘挖到</div>
			<div class="Msg-now-time">2016</div>
		</div>
		<div class="Msg-old">
			<div class="Msg-old-left text-overflow">放哪儿放阿瓦达家的娃都没爱我的阿瓦打我娃娃们安尔碘挖到</div>
			<div class="Msg-old-time">16-12-31</div>
		</div>
	</div>
		