
	<!-- <link rel="stylesheet" href="/assets/css/information.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/overflow.css"> -->
<div class="information">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">消息</p>
	</div>
	<div class="padding"></div>
	<div class="menu row">
		<div class="col-sm-6 col-xs-6 pos-r"ng-class="{'border':chose1}" ng-click="chose(1)">系统通知</div>
		<!-- <p class="cir cir1">99</p> -->
		<div class="col-sm-6 col-xs-6 pos-r" ng-class="{'border':chose2}" ng-click="chose(2)">会员信息</div>
		<!-- <p class="cir cir2">99</p> -->
	</div>
	<div ng-include="'views/xitongMsg.html'" ng-if="chose1==1" ng-controller="xitongMsgCtrl">
	
	</div>
	<div ng-include="'views/huiyuanMsg.html'" ng-if="chose2==1" ng-controller="huiyuanMsgCtrl">
	
	</div>
</div>