<link rel="stylesheet" href="/assets/css/journal.css">
<div class="row bannerMsg ">
	<div class="col-sm-4 col-xs-4">金额</div>
	<div class="col-sm-4 col-xs-4">日期</div>
	<div class="col-sm-4 col-xs-4">状态</div>
</div>
<div class="hr"></div>
<div class="row num"   infinite-scroll='journals.nextPage()' infinite-scroll-disabled='journals.busy' infinite-scroll-distance='1' >
	<div ng-repeat="j in journals.items">
		<div ng-cloak  class="col-sm-4 col-xs-4">￥{{j.money}}</div>
		<div ng-cloak class="col-sm-4 col-xs-4">{{j.addtime}}</div>
		<div class="col-sm-4 col-xs-4" ng-if="j.status==0">未审核</div>
		<div class="col-sm-4 col-xs-4" ng-if="j.status==1">通过</div>
		<div class="col-sm-4 col-xs-4" ng-if="j.status==2">拒绝</div>
	</div>
</div>
<div class="home_shop_nomore" ng-show='journals.end'>-暂无提现记录-</div>
