<!-- <link rel="stylesheet" href="/assets/css/journal.css"> -->
<!-- <link rel="stylesheet" href="/assets/css/overflow.css"> -->
<div class="journal">
<div class="row bannerMsg ">
	<div class="col-sm-3 col-xs-3 text-center">金额</div>
	<div class="col-sm-6 col-xs-6 text-center">日期</div>
	<div class="col-sm-3 col-xs-3 text-center">状态</div>
</div>
<div class="hr"></div>
<div class="row" infinite-scroll='journals.nextPage()' infinite-scroll-disabled='journals.busy' infinite-scroll-distance='1' >
	<div ng-repeat="j in journals.items" class="row" style="padding:0.25rem 0;border-bottom:1px solid #eff0eb;">
		<div ng-cloak  class="col-sm-3 col-xs-3 text-center">￥{{j.money/100}}</div>
		<div ng-cloak class="col-sm-6 col-xs-6 text-center">
			<div ng-if="j.addtime!=null">{{j.addtime*1000|date:'yyyy-MM-dd hh:mm:ss'}}</div>
		</div>
		<div class="col-sm-3 col-xs-3 text-center" ng-if="j.status==0">未审核</div>
		<div class="col-sm-3 col-xs-3 text-center" ng-if="j.status==1">通过</div>
		<div class="col-sm-3 col-xs-3 text-center" ng-if="j.status==2">拒绝</div>
	</div>
</div>
<div  cg-busy="{promise:journals.promise,templateUrl:journals.templateUrl,message:journals.message,backdrop:journals.backdrop,delay:journals.delay,minDuration:journals.minDuration}"></div>
<div class="home_shop_nomore" ng-show='journals.end'>-暂无提现记录-</div>
</div>
