<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="myLike">
	<div infinite-scroll='loveshop.nextPage()' infinite-scroll-disabled='loveshop.busy' infinite-scroll-distance='1' class="clearfix">
		<div class="likeItems" ng-repeat="shop in loveshop.items">
			<div class="likeItems-left" ui-sref="description({shop_id:shop.shop_id})">
				<img ng-src="http://139.224.61.180:8080/attachs/{{shop.logo}}" alt="">
			</div>
			<div class="likeItems-center" ng-click="choseShop(shop.fd_id,shop.shop_id)">
				<p class="text-overflow p_title" ng-if="shop.fd_name!=undefined&&shop.fd_name!=''">{{shop.shop_name}}({{shop.fd_name}})</p>
				<div class="center-divs text-overflow">
					<img ng-src="/assets/img/star-p.png" alt="" ng-if="shop.score/100>=0.1">
					<img ng-src="/assets/img/star-b.png" alt="" ng-if="shop.score/100<0.1&&shop.score/100>0">
					<img ng-src="/assets/img/star-p.png" alt="" ng-if="shop.score/100>=0.2">
					<img ng-src="/assets/img/star-b.png" alt="" ng-if="shop.score/100<0.2&&shop.score/100>0.1">
					<img ng-src="/assets/img/star-p.png" alt=""  ng-if="shop.score/100>=0.3">
					<img ng-src="/assets/img/star-b.png" alt="" ng-if="shop.score/100<0.3&&shop.score/100>0.2">
					<img ng-src="/assets/img/star-p.png" alt=""  ng-if="shop.score/100>=0.4">
					<img ng-src="/assets/img/star-b.png" alt="" ng-if="shop.score/100<0.4&&shop.score/100>0.3">
					<img ng-src="/assets/img/star-p.png" alt="" ng-if="shop.score/100>=0.5">
					<img ng-src="/assets/img/star-b.png" alt="" ng-if="shop.score/100<0.5&&shop.score/100>0.4">
				</div>
				<div class="addr text-overflow">
					{{shop.addr}}
				</div>
			</div>
			<div class="likeItems-right">
				<img src="/assets/img/img_delete.png" alt="" ng-click="delect(shop.scf_id)">
			</div>
		</div>
	</div>
	<div cg-busy="{promise:loveshop.promise,templateUrl:loveshop.templateUrl,message:loveshop.message,backdrop:loveshop.backdrop,delay:loveshop.delay,minDuration:loveshop.minDuration}"></div>
	<div class="home_shop_nomore" ng-show='loveshop.end' style="margin-bottom: 0;">-暂无更多收藏-</div>
</div>