
	<link rel="stylesheet" href="/assets/css/Maddress.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>管理收货地址</p>
	    <img src="/assets/img/img_add.png" alt="添加收货地址" class="img_add" ui-sref="addAddress">
	</div>

	<div class="row">
		<div class="col-sm-6 col-xs-6 address-name">许圆圆</div>
		<div class="col-sm-6 col-xs-6 address-phone text-right">12345678900</div>
		<div class="col-sm-12 col-xs-12 address">
			上海市嘉定区江桥万达
		</div>
		<div class="col-sm-6 col-xs-6 chose">
			<img src="/assets/img/chose.png" alt="">
			<img src="/assets/img/chosef.png" alt="">
			<p class="active">默认地址</p>
		</div>
		<div class="col-sm-6 col-xs-6 add-change">
			<div ng-click="delect()">
				<span>删除</span>
				<img src="/assets/img/img_delete_black.png" alt="">
			</div>
			<div ui-sref="chaAddress">
				<span>编辑</span>
				<img src="/assets/img/img_edit.png" alt="" ui-sref="chaAddress">
			</div>
		</div>
		<div class="bgc"></div>
	</div>






	<div class="marbom"></div>
	