<div ui-view ng-cloak scroll>

</div>
	<footer class="navbar-fixed-bottom">
		<div ui-sref="main.home" ng-click="changeImg(1)">
			<img src='/assets/img/Home-page.png' alt="首页" ng-if="num==1">
			<img src='/assets/img/Home-page2.png' alt="首页" ng-if="num!=1">
			<span>首页</span>
		</div>
		<div ui-sref="main." ng-click="changeImg(2)">
			<img src="/assets/img/My-order.png" alt="我的订单" ng-if="num==2">
			<img src="/assets/img/My-order2.png" alt="我的订单" ng-if="num!=2">
			<span>我的订单</span>
		</div>
		<div ui-sref="main." ng-click="changeImg(3)">
			<img src="/assets/img/Offer-to-pay.png" alt="优惠买单" ng-if="num==3">
			<img src="/assets/img/Offer-to-pay2.png" alt="优惠买单" ng-if="num!=3">
			<span>优惠买单</span>
		</div>
		<div ui-sref="main." ng-click="changeImg(4)">
			<img src="/assets/img/message.png" alt="消息" ng-if="num==4">
			<img src="/assets/img/message2.png" alt="消息" ng-if="num!=4">
			<span>消息</span>
		</div>
		<div ui-sref="main.personal" ng-click="changeImg(5)">
			<img src="/assets/img/member-center.png" alt="会员中心" ng-if="num==5">
			<img src="/assets/img/member-center2.png" alt="会员中心" ng-if="num!=5">
			<span>会员中心</span>
		</div>
	</footer>