<style>
	.bannerss{
		width: 100%;
    	height: 1.38rem;
    	background-color: #00a2f2;

	}
	.bannerss p {
    text-align: center;
    line-height: 1.38rem;
    color: #fff;
    font-size: .41666667rem;
    margin-bottom: .02777778rem;
	}
	.wenxin{
		text-align: center;
	    font-size: .41666667rem;
	    margin-top: .3rem;
	    line-height: .6rem;
	    padding: 0 0.5rem !important;
	 }
	 #qrcode{
	 	height:5.5rem;
        margin:15% 10% 25% 10%;
	 }
</style>
<div>
		<div class="bannerss">
		    <p>欢迎关注拉拉秀公众号</p>
		</div>
		<p class="wenxin">温馨提示：长按二维码点击识别二维码即可关注</p>
		<div id="qrcode">
			<img src="assets/img/leading.gif" alt="" class="leading" id="img">
		</div>
</div>