
	<link rel="stylesheet" href="/assets/css/systemMsg.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>会员信息</p>
	</div>

	<div class="sysMsg">
		<div class="titleMsg">重要通知</div>
		<div class="centerMsg">
			<div class="centerMsg-name">尊敬的顾客：</div>
			<div class="centerMsg-items">
				<p>由于是安大大阿达安捷达挖掘的阿达安捷达阿达阿达adjacent大大阿达啊啊大大  阿加挖到我大大挖到挖到挖到挖到我打打底袜大大哇哇哇 娃娃哇完哇就哇家外家阿加完哇哇今晚阿加哇哇哇文件就</p>
			</div>
		</div>
		<div class="line"></div>
		<div class="bottomMsg clearfix">
			<div class="bottomMsg-left">
				2016-12-12
			</div>
			<div class="bottomMsg-right">
				12:12:12
			</div>
		</div>
		<div class="line"></div>
	</div>


	