	<link rel="stylesheet" href="/assets/css/Account.css">

	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>我的团队</p>
	</div>
	<div class="padding"></div>
	<div class="choseShop">
		
	</div>
	<div class="teamItems">
		<div class="itemstotal">
			<div class="itemstotal-left">
				一级会员
			</div>
			<div class="itemstotal-right">
				人数1
			</div>
		</div>
		<div class="itemstotal-list">
			<div class="listitems">
				<div class="itemstotal-list-left">
					<img src="" alt="">
				</div>
				<div class="itemstotal-list-right">
					<p>昵称：</p>
					<p>电话：</p>
				</div>
			</div>
		</div>
	</div>

	