	<!-- <link rel="stylesheet" href="/assets/css/myTeam.css"> -->
<div class="myTeam">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">我的团队</p>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="choseShop">
		<select ng-change="selectChange(dateValue)" ng-model="dateValue">
			<option value="" ng-disabled="true">请选择店铺</option>
			<option value="{{shops.shop_id}}" ng-repeat="shops in shop">{{shops.shop_name}}</option>
		</select>
	</div>
	<div ng-show="chose==1">
	<div class="teamItems">
		<div class="itemstotal">
			<div class="itemstotal-left">
				一级会员
			</div>
			<div class="itemstotal-right">
				人数{{team1_info.length}}
			</div>
		</div>
		<div class="itemstotal-list" ng-if="team1_info.length!=0" ng-repeat="team1 in team1_info">
			<div class="listitems">
				<div class="itemstotal-list-left">
					<img ng-src="http://139.224.61.180:8080/attachs/{{team1.face}}" alt="">
				</div>
				<div class="itemstotal-list-right">
					<p>昵称：{{team1.nickname}}</p>
					<p>电话：{{team1.mobile}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="teamItems" ng-if="fx.fx2!=0">
		<div class="itemstotal">
			<div class="itemstotal-left">
				二级会员
			</div>
			<div class="itemstotal-right">
				人数{{team2_info.length}}
			</div>
		</div>
		<div class="itemstotal-list" ng-if="team2_info.length!=0" ng-repeat="team2 in team2_info">
			<div class="listitems">
				<div class="itemstotal-list-left">
					<img ng-src="http://139.224.61.180:8080/attachs/{{team2.face}}" alt="">
				</div>
				<div class="itemstotal-list-right">
					<p>昵称：{{team2.nickname}}</p>
					<p>电话：{{team2.mobile}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="teamItems" ng-if="fx.fx3!=0&&fx.fx2!=0">
		<div class="itemstotal">
			<div class="itemstotal-left">
				三级会员
			</div>
			<div class="itemstotal-right">
				人数{{team3_info.length}}
			</div>
		</div>
		<div class="itemstotal-list" ng-if="team3_info.length!=0" ng-repeat="team3 in team3_info">
			<div class="listitems">
				<div class="itemstotal-list-left">
					<img ng-src="http://139.224.61.180:8080/attachs/{{team3.face}}" alt="">
				</div>
				<div class="itemstotal-list-right">
					<p>昵称：{{team3.nickname}}</p>
					<p>电话：{{team3.mobile}}</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="home_shop_nomore" ng-show="chose==0">-请先选择一个店铺-</div>
	</div>
</div>