	<link rel="stylesheet" href="/assets/css/OfferPay.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>优惠买单</p>
	</div>
	<div class="Msg"  infinite-scroll='offerpay.nextPage()' infinite-scroll-disabled='offerpay.busy' infinite-scroll-distance='1' >
		<div class="pepeatMsg">
			<div class="row rowid">
				<div class="col-sm-5 col-xs-5">ID:{{}}</div>
				<div class="sm-7 col-xs-7 text-right">创建时间:2016-11-11 12:22</div>
			</div>
			<div class="row rowmsg">
				<div class="col-sm-12 xol-xs-12">商家：{{}}</div>
				<div class="col-sm-12 xol-xs-12">消费金额：{{}}</div>
				<div class="col-sm-12 xol-xs-12">优惠券抵扣：{{}}</div>
				<div class="col-sm-12 xol-xs-12">备注：{{}}</div>
				<div class="col-sm-12 xol-xs-12">赠品消费：{{}}</div>
			</div>
			<div class="row rowpay">
				<div class="col-sm-8 col-xs-8">
					<p>实付：<span>{{90}}</span></p>
					<p>付款时间：{{}}</p>
				</div>
				<div class="col-4 col-xs-4 text-right">
					<button>已完成(线下)</button>
				</div>
			</div>
		</div>
	</div>
	
<div class="marbom"></div>
	


	
	