	<!-- <link rel="stylesheet" href="/assets/css/OfferPay.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/overflow.css"> -->
<style>
	body{
		background-color: #eff0eb;
	}
</style>
<div class="OfferPay">
	<div class="banner  navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回"  ui-sref="main.personal" style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">优惠买单</p>
	</div>
	<div class="padding"></div>
	<div class="Msg"  infinite-scroll='offerpay.nextPage()' infinite-scroll-disabled='offerpay.busy' infinite-scroll-distance='1' >
		<div class="pepeatMsg" ng-repeat="Msg in offerpay.items">
			<div class="row rowid">
				<div ng-cloak class="col-sm-4 col-xs-4">ID:{{Msg.id}}</div>
				<div ng-cloak class="col-sm-8 col-xs-8 text-right">创建时间:{{Msg.create_time*1000|date:'yyyy-MM-dd HH:mm:ss'}}</div>
			</div>
			<div class="row rowmsg">
				<div ng-cloak class="col-sm-12 col-xs-12">商家：{{Msg.shop_name}}</div>
				<div ng-cloak class="col-sm-12 col-xs-12">消费金额：{{Msg.total|number:2}}</div>
				<div ng-cloak class="col-sm-12 col-xs-12">优惠券抵扣：{{-Msg.yhk|number:2}}</div>
				<div ng-cloak class="col-sm-12 col-xs-12">备注：{{Msg.remark}}</div>
				<div class="col-sm-12 col-xs-12">
				<div style="float: left;">赠品消费：</div>
				<div ng-repeat="(key,value) in Msg.zp" style="float: left;">
					<span ng-cloak style="margin-right: 0.2rem;">{{key}}:{{value}}</span>
				</div>
				</div>
			</div>
			<div class="row rowpay">
				<div class="col-sm-8 col-xs-8">
					<p>实付：<span ng-cloak class="rowpay-btn">￥{{Msg.total-Msg.yhk|number:2}}</span></p>
					<p ng-cloak ng-if="Msg.status!=1&&Msg.pay_time!=null">付款时间：{{Msg.pay_time*1000|date:'yyyy-MM-dd HH:mm:ss'}}</p>
					<p ng-cloak ng-if="Msg.status!=1&&Msg.pay_time==null">付款时间：暂无数据</p>
					<p ng-cloak ng-if="Msg.status==1">付款时间：未支付</p>
				</div>
				<div class="col-4 col-xs-4 text-right">
					<button ng-if="Msg.status==1" style="background-color: red; color:#fff; border: 1px solid red;" ui-sref="onlinePay({pay_id:Msg.id})">立即支付</button>
					<button ng-if="Msg.status==2"><span>已支付</span><span ng-if="Msg.is_offline==1&&Msg.status!=1">(在线)</span><span ng-if="Msg.is_offline==2&&Msg.status!=1">(线下)</span>
					</button>
				</div>
			</div>
		</div>
	</div>
<br>
<div  cg-busy="{promise:offerpay.promise,templateUrl:offerpay.templateUrl,message:offerpay.message,backdrop:offerpay.backdrop,delay:offerpay.delay,minDuration:offerpay.minDuration}"></div>
<div class="marbom text-center clearfix"
 ng-show='offerpay.end'>-暂无更多信息-</div>
</div>