<!-- <link rel="stylesheet" href="/assets/css/information.css"> -->
<div class="information">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">线上支付</p>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
<div class="uploadMsgs">
	<div class="msg-items">
		<span>商家</span>
		<input type="text" ng-model="detail.shop_name" readonly="">
	</div>
	<div class="msg-items">
		<span>消费金额</span>
		<input type="text" ng-model="detail.total" readonly="">
	</div>
	<div class="msg-items">
		<span style="width: 2.5rem;">优惠券抵扣</span>
		<span style="width: 4.5rem;">{{detail.yhk|number:2}}</span>
	</div>
	<!-- 默认不显示部分 -->
	<div ng-repeat="zp in zp_list">
		<div class="msg-items">
			<span style="text-indent: 1em;float: left;">赠品</span>
			<input type="text" class="zenpin desc1" ng-model="zp.zp_name" readonly="">
			<input class="munZen" ng-model="zp.zp_num" style="min-width:1.1rem;max-width:1.8rem;height:1.2rem" readonly="">
		</div>
	</div>
	<div class="msg-items">
		<span>备注</span>
		<input type="text" ng-model="detail.remark" class="text-overflow" readonly="">
	</div>
	<div class="msg-items">
		<div class="row">
			<div class="col-sm-4 col-xs-4" style="width: 30%;padding: 0;">
				<p class="pr-name pr-color">使用余额</p>
			</div>
			<div class="col-sm-3 col-xs-3" style="padding: 0;">
				<p class="pr-name text-left text-overflow">
					<input class="text-overflow" type="text"style="width:100%;height: 100%;" ng-model="needgold" ng-keyup="notcut()" ng-show="type==0">
					<input class="text-overflow" type="text"style="width:100%;height: 100%;" ng-model="needgold" ng-show="type!=0" readonly="">
				</p>
			</div>
			<div class="col-sm-5 col-xs-5">
				<p class="pr-name text-overflow">金额:{{gold|number:2}}</p>
			</div>
		</div>
	</div>
	<div class="msg-items">
		<span>实付</span>
		<span style="width: 5.8rem;">{{totalNeedpay|number:2}}</span>
	</div>
	<button ng-click="affirm()" class="choseAdd">确认支付</button>	
</div>
</div>
</div>