 
	<link rel="stylesheet" href="/assets/css/Opinion.css">

	<div class="banner  navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>商品点评</p>
	</div>
	<div class="padding"></div>
	<div class="proMsg">
		<div class="proMsg-top">
			<div class="proMsg-top-img">
				<img src="http://wap.51loveshow.com/attachs/{{Msg.order_goods_info[0].photo}}" alt="">
			</div>
			<div class="proMsg-top-title">
				<p ng-cloak>{{Msg.order_goods_info[0].title}}</p>
				<span ng-cloak>实付金额{{Msg.detail.need_pay/100}}</span>
				<span ng-cloak>使用积分{{Msg.detail.can_use_integral}}</span>
			</div>
		</div>
		<div class="proMsg-center">
			<span>评价：</span>
			<div id="xzw_starBox">
			<ul class="star" id="star">
				<li><a href="javascript:void(0)" title="1" class="one-star">1</a></li>
				<li><a href="javascript:void(0)" title="2" class="two-stars">2</a></li>
				<li><a href="javascript:void(0)" title="3" class="three-stars">3</a></li>
				<li><a href="javascript:void(0)" title="4" class="four-stars">4</a></li>
				<li><a href="javascript:void(0)" title="5" class="five-stars">5</a></li>
			</ul>
			<div class="current-rating" id="showb"></div>
			</div>
		</div>
		<div class="proMsg-bottom clearfix">
			<textarea placeholder="还记得这家店吗？写点评记录生活、分享体验" ng-model="contents"></textarea>
      <div class="col-sm-4 col-xs-4 photo clearfix" ng-repeat="p in pic">
        <img src="http://106.14.57.99:8888/attachs/{{p}}" alt="">
      </div>
			<div class="col-sm-4 col-xs-4 photo clearfix" ng-hide="pic.length==9">
      <input size="100" id="fileToUpload" accept="image/*" name="fileToUpload" type="file" class="file"/>
				<img src="" alt="" id="chooseImage">
			</div>
		</div>
	</div>
	<div class="rows">
		<div class="col-sm-12 col-xs-12">
			<button class="tijiao" id="uploadImage" ng-click="tijiao()">提交评价</button>
		</div>
	</div>
  <script src="/assets/js/localResizeIMG.js"></script>
  <script src="/assets/js/mobileBUGFix.mini.js"></script>

	