
	<link rel="stylesheet" href="/assets/css/payment.css">
	<script scr="http://mch.weixin.qq.com/wiki/doc/api/jsapi.php?chapter=11_1"></script>

	<div class="banner navbar-fixed-top">
		<img src="/assets/img/552cc14536532_128.png" alt="" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
		<span>订单支付</span>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="bg"></div>
	<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name">支付编号</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6">
					
				</div>
				<div class="col-sm-6 col-xs-6">
					<p ng-cloak class="pr-name text-right">{{order_id}}</p>
				</div>
			</div>
		</div>
	<div class="bgs"></div><div class="bgs"></div>
	<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name">付款缘由</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6">
					
				</div>
				<div class="col-sm-6 col-xs-6">
					<p class="pr-name text-right">{{type}}</p>
				</div>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>
	<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name">支付金额</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6">
					
				</div>
				<div class="col-sm-6 col-xs-6">
					<p ng-cloak class="pr-name text-right">{{need_pay}}元</p>
				</div>
			</div>
		</div>
	<div class="bg bg-text">选择支付方式</div>
	
	<div class="bgs"></div><div class="bgs"></div>
	<div class="row pay-now">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_weixin.png" alt="" class="weixin">
		</div>
		<div class="col-sm-5 col-xs-5">
			<p>微信支付</p>
			<span  class="span-color">推荐微信用户使用</span>
		</div>
		<div class="col-sm-6 col-xs-6 text-right">
			<img src="/assets/img/img_pay_checked.png" alt="" class="default">
		</div>	
	</div>

<!-- 	<div class="bgs"></div><div class="bgs"></div>
	<div class="row pay-now">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/pay.png" alt="" class="weixin">
		</div>
		<div class="col-sm-5 col-xs-5">
			<p>支付宝</p>
			<span class="span-color">推荐支付宝用户使用</span>
		</div>
		<div class="col-sm-6 col-xs-6 text-right">
			<img src="/assets/img/img_pay_checked.png" alt="" class="default">
		</div>	
	</div> -->

	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
				<div class="col-sm-12 col-xs-12">
					<button class="subOrder" ng-click="zhifu()">立即支付</button>
				</div>
		</div>
</div>