
	<link rel="stylesheet" href="/assets/css/personal.css">

	<div class="banner">
		<div class="banner-left"></div>
		<img src="/assets/img/552cc14536532_128.png" alt=""  onClick="javascript:history.go(-1);" class="back" >
		<div class="banner-right"></div>
		<img src="/assets/img/img_mine_msg_icon.png" alt="" class="share">
		<div class="personal-img">
			<img src="http://106.14.57.99:8888/attachs/{{userMsg.face}}" alt="" ng-show="{{showup}}">
			<div ng-hide="{{showup}}" class="sign">
				<a ui-sref="signin">登陆</a>/<a ui-sref="signup">注册</a>
			</div>
		</div>
		<div ng-cloak class="personal-name" ui-sref="nickname">
			{{userMsg.nickname}}
		</div>
		<div class="personMsg">
			<div class="msg-left">
				<p ng-cloak>{{userMsg.integral}}</p>
				<span>秀币</span>
			</div>
			<div class="line"></div>
			<div class="msg-center">
				<p ng-cloak >{{userMsg.yhk}}</p>
				<span>优惠卡</span>
			</div>
			<div class="line"></div>
			<div class="msg-right">
				<p ng-cloak>{{userMsg.money}}</p>
				<span>余额</span>
			</div>
		</div>
	</div>
	<div class="bg"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_zhanghuguanli.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			账户管理
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="Account">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_zijinguanli.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			资金管理
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="applyCash" >
		</div>
	</div>
	<div ng-if="userMsg.shopflag==2">
		<div class="bgs"></div>
		<div class="row">
			<div class="col-sm-1 col-xs-1">
				<img src="/assets/img/img_mine_guanliwodeshangjia.png" alt="">
			</div>
			<div class="col-sm-9 col-xs-9">
				管理我的商家
			</div>
			<div class="col-sm-2 col-xs-2 text-right">
				<img src="/assets/img/line.png" alt="" class="lines"ui-sref="shopCenter">
			</div>
		</div>
	</div>
	
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_wodedingdan.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			我的订单
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="Mycart">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_wodetuandui.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			我的团队
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="myTeam">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_wodeyouhuika.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			我的优惠卡
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="preferential">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_yuetixian.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			余额提现
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="applyCash({type:'drawal'})">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_youhuimaidan.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			优惠买单
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="main.OfferPay">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_xiaoxizhongxin.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			消息中心
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="main.information">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row" ng-show="{{showup}}">
		<div class="col-sm-12 col-xs-12">
			<button class="subOrder" ng-click="exit()">退出登录</button>
		</div>
	</div>
