
	<link rel="stylesheet" href="/assets/css/personal.css">
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
	<div class="banner">
		<div class="banner-left"></div>
		<img src="/assets/img/552cc14536532_128.png" alt=""  onClick="javascript:history.go(-1);" class="back"style="position: absolute;left: 0.27777778rem;top: 0.38888889rem;width: 0.69444444rem;height: 0.69444444rem;" >
		<div class="banner-right"></div>
		<img src="/assets/img/img_mine_msg_icon.png" alt="" class="share" ui-sref="main.information">
		<div class="personal-img">
			<img src="http://wap.51loveshow.com/attachs/{{userMsg.face}}" alt="" ng-show="{{showup}}">
			<div ng-hide="{{showup}}" class="sign">
				<a ui-sref="signin">登陆</a>/<a ui-sref="signup">注册</a>
			</div>
		</div>
		<div ng-cloak class="personal-name" ui-sref="nickname">
			{{userMsg.nickname}}
		</div>
		<div class="personMsg">
			<div class="msg-left">
				<p ng-cloak>{{userMsg.integral}}</p>
				<span>秀币</span>
			</div>
			<div class="line"></div>
			<div class="msg-center">
				<p ng-cloak >{{userMsg.yhk}}</p>
				<span>优惠卡</span>
			</div>
			<div class="line"></div>
			<div class="msg-right">
				<p ng-cloak>{{userMsg.gold/100}}</p>
				<span>余额</span>
			</div>
		</div>
	</div>
	<div class="bg"></div>
	<div class="row " ui-sref="Account">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_zhanghuguanli.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			账户管理
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row " ui-sref="applyCash">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_zijinguanli.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			资金管理
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" >
		</div>
	</div>
	<div ng-if="userMsg.shopflag==2" ui-sref="shopCenter">
		<div class="bgs"></div>
		<div class="row ">
			<div class="col-sm-1 col-xs-1">
				<img src="/assets/img/img_mine_guanliwodeshangjia.png" alt="">
			</div>
			<div class="col-sm-9 col-xs-9">
				管理我的商家
			</div>
			<div class="col-sm-2 col-xs-2 text-right">
				<img src="/assets/img/line.png" alt="" class="lines">
			</div>
		</div>
	</div>
	
	<div class="bgs"></div>
	<div class="row " ui-sref="Mycart">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_wodedingdan.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			我的订单
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row " ui-sref="myTeam">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_wodetuandui.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			我的团队
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row " ui-sref="preferential">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_wodeyouhuika.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			我的优惠卡
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row " ui-sref="applyCash({type:'drawal'})">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_yuetixian.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			余额提现
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row "ui-sref="main.OfferPay">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_youhuimaidan.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			优惠买单
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" >
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row " ui-sref="main.information">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/img_mine_xiaoxizhongxin.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			消息中心
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="" ng-show="{{showup}}">
		<div class="col-sm-12 col-xs-12">
			<button class="subOrder " ng-click="exit()">退出登录</button>
		</div>
	</div>
	
