
<link rel="stylesheet" href="/assets/css/pingjia.css">
<link rel="stylesheet" href="/assets/css/overflow.css">
<div class="banner navbar-fixed-top">
    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">评价</p>
</div>
<div class="padding"></div>
<div class="menu row">
	<div class="col-sm-4 col-xs-4"ng-class="{'border':chose1}" ng-click="chose(1)">全部({{totalnum||0}})</div>
	<div class="col-sm-4 col-xs-4" ng-class="{'border':chose2}" ng-click="chose(2)">晒图({{totalnum_haspic||0}})</div>
	<div class="col-sm-4 col-xs-4" ng-class="{'border':chose3}"   ng-click="chose(3)">最新</div>
</div>
<div ng-include="'views/pingjiaAll.html'" ng-if="chose1==1" ng-controller="pingjiaAllCtrl">
	
</div>
<div  ng-include="'views/pingjiaPhoto.html'" ng-if="chose2==1" ng-controller="pingjiaPhotoCtrl">
	
</div>
<div ng-include="'views/pingjiaNow.html'"ng-if="chose3==1" ng-controller="pingjiaNowCtrl">
	
</div>

