	<link rel="stylesheet" href="/assets/css/product.css">
<div class="discuss-cen"   infinite-scroll='evaluate.nextPage()' infinite-scroll-disabled='evaluate.busy' infinite-scroll-distance='1' >
		<div class="contianers" ng-repeat="item in evaluate.items">
			<div class="dis-top">
				<img src="" alt="" class="dis-tou">
				<span ng-cloak class="dis-name">{{item.user_nickname}}</span>
				<img src="http://wap.51loveshow.com/attachs/{{user_face}}" alt="">
				<span ng-cloak class="dis-data">{{item.create_time}}</span>
			</div>
			<p ng-cloak class="dis-cont">{{item.contents}}</p>
			 <p class="dis-type">哈哈机打就打科技</p> 
			<div class="row dis-photo">
				<div class="col-sm-3" ng-repeat="p in item.pic">
					<img ng-src="http://wap.51loveshow.com/attachs/{{p}}" alt="">
				</div>
			</div>
		</div>
	</div>
<div  cg-busy="{promise:evaluate.promise,templateUrl:evaluate.templateUrl,message:evaluate.message,backdrop:evaluate.backdrop,delay:evaluate.delay,minDuration:evaluate.minDuration}"></div>
<div class="home_shop_nomore" ng-show='shops.end'>-暂无更多店铺-</div>