
	<link rel="stylesheet" href="/assets/css/preferential.css">
	<script src="/assets/js/qrcode.min.js"></script>
<div class="preferential">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">优惠卡</p>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="proMsg" ng-repeat="Yhk in yhk">
		<div class="row proMsg-top">
			<div ng-cloak class="col-sm-8 col-xs-8 proMsg-top-shop text-overflow">
				商家：{{Yhk.shop_name}}(商家ID:{{Yhk.shop_id}})
			</div>
			<div ng-cloak class="col-sm-4 cll-xs-4 proMsg-top-price text-right  text-overflow">
				余额:{{Yhk.yhk}}
			</div>
		</div>
		<div class="row proMsg-center">
			<div class="col-sm-6 col-xs-6">
				<img src="http://139.224.61.180:8080/attachs/{{Yhk.logo}}" alt="" class="proMsg-center-img">
			</div>
			<div class="col-sm-6 cll-xs-6 proMsg-center-num  text-overflow">
				<p>赠品：</p>
				<p ng-repeat="(key,value) in Yhk.zp"><span ng-cloak>{{key}} x{{value}}</span></p>
			</div>
		</div>
		<div class="row proMsg-bottom">
			<div class="col-sm-12 cll-xs-12">
				<button class="fenxiao" ng-click="preferential(Yhk.shop_id)">分享</button>
			</div>
			<br>
		</div>
	</div>
	<div class="toBottom" ng-if="yhk.length==0">-暂无更多优惠卡消息-</div>
	<div class="marbom"></div>
	</div>
</div>
	