
<style>
	body{
		background-color: #f5f5f5;
	}
</style>
<div class="product">
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="photo-p">
	<div>
		<div uib-carousel active="active" interval="myInterval">
			<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				<img ng-src="http://139.224.61.180:8080/attachs/{{slide.image}}" style="width:100%;margin:auto;">
			</div>
	</div>
	</div>
		<div class="banner">
			<div class="banner-left"></div>
			<img src="/assets/img/552cc14536532_128.png" alt=""  onClick="javascript:history.go(-1);" class="back" style="position: absolute;left: 0.29166667rem;top: 0.41666667rem;width: 0.69444444rem;height: 0.69444444rem;">
			<div class="banner-right"></div>
			<img src="/assets/img/img_shopcart_white_pd.png" alt="" class="share" ui-sref="shopcart" style="position: absolute;right: 0.31944444rem;top: 0.41666667rem;width: 0.69444444rem;height: 0.69444444rem;">
		</div>		
	</div>
	<div class="proMsg clearfix">
		<h1 ng-cloak>{{productMsg_list.title}}</h1>
		<span ng-cloak>￥{{productMsg_list.mall_price/100|number:2}}</span>
		<!-- <span ng-cloak class="zhekou">{{(productMsg_list.mall_price/productMsg_list.price*10)|number:1}}折</span> -->
		<p ng-cloak>原价：<del ng-cloak>￥{{productMsg_list.price/100|number:2}}</del>&nbsp;月售：{{productMsg_list.sold_num}}笔 &nbsp;库存：{{productMsg_list.num}}张</p>
	</div>
	<div class="certification" ng-if="is_vs!=0">
		<p><span ng-if="productMsg_list.is_vs1==1">认证商家</span><span ng-if="productMsg_list.is_vs2==1">正品保证</span><span ng-if="productMsg_list.is_vs3==1">假一赔十</span><span ng-if="productMsg_list.is_vs4==1">当日送达</span><span ng-if="productMsg_list.is_vs5==1">免运费</span><span ng-if="productMsg_list.is_vs6==1">货到付款</span></p>
	</div>
	<div class="discuss">
		<span class="discuss-title">商品介绍</span>
	</div>
	<div class="p-introduce">
	<p ng-bind-html="productMsg_list.instructions | to_trusted"></p>
		<p ng-bind-html="productMsg_list.details | to_trusted"></p>
		<img ng-src="http://139.224.61.180:8080/attachs/{{productMsg.pics.photo}}" alt="">
	</div>
	<div class="discuss" style="margin-bottom: 1.5rem;">
		<span ng-cloak class="discuss-title">评论（{{totalnum}}）</span>
		<span class="see-all" ui-sref="pingjia({goods_id:good_id})">查看全部评论</span>
		<div class="discuss-cen">
		<div class="contianers" ng-repeat="item in items">
			<div class="dis-top clearfix">
				<div class="dis-top-left">
					<img ng-src="http://139.224.61.180:8080/attachs/{{item.face}}" alt="" class="dis-tou">
				</div>
				<div class="dis-top-right">
					<div class="clearfix">
						<span ng-cloak class="dis-name" style="color:black;">{{item.username}}</span>
						<img ng-src="/assets/img/vip_icon{{item.rank_id}}.png" alt="" class="dengji">
						<span ng-cloak class="dis-data">{{item.cdate}}</span>
					</div>
					<div class="starContainer">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=1">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=2">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=3">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=4">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score==5">
					</div>
				</div>
			</div>
			<p ng-cloak class="dis-cont">{{item.contents}}</p>
			<div class="row dis-photo">
				<div class="photocontainer" ng-repeat="p in item.pic">
					<img ng-src="http://139.224.61.180:8080/attachs/{{p}}" alt="" style="width: 100%;height:100%;" ng-click="checkImg($index,item.pic)">
				</div>
			</div>
			<div class="BusinessRe" ng-if="item.reply!=null">
			<span>商家回复：</span ng-cloak>{{item.reply}}</div>
		</div>
	</div>
	<footer class="navbar-fixed-bottom">
		<div class="collection " ng-click="love()">
			<p>收藏</p>
		</div>
		<div class="line"></div>
		<div class="runin " ui-sref="smallShop({shop_id:productMsg_list.shop_id})">
			<p>进店</p>
		</div>
		<div class="addCart" ng-click="addCart()">加入购物车</div>
		<div class="goPay" ng-click="gopay(good_id)">立即购买</div>
	</footer>
	</div>
</div>