
	<link rel="stylesheet" href="/assets/css/product.css">
	<div class="photo-p">
	<div>
		<div uib-carousel active="active" interval="myInterval">
			<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				<img ng-src="http://wap.51loveshow.com/attachs/{{slide.image}}" style="width:100%;margin:auto;">
			</div>
	</div>
	</div>
		<div class="banner">
			<div class="banner-left"></div>
			<img src="/assets/img/552cc14536532_128.png" alt=""  onClick="javascript:history.go(-1);" class="back">
			<div class="banner-right"></div>
			<img src="/assets/img/img_shopcart_white_pd.png" alt="" class="share" ui-sref="shopcart">
		</div>		
	</div>
	<div class="proMsg clearfix">
		<h1 ng-cloak>{{productMsg_list.title}}</h1>
		<span ng-cloak>￥{{productMsg_list.mall_price/100}}</span>
		<span ng-cloak class="zhekou">{{productMsg_list.mall_price/productMsg_list.price*10}}折</span>
		<p ng-cloak>原价：<del ng-cloak>￥{{productMsg_list.price/100}}</del>&nbsp;月售：{{productMsg_list.sold_num}}笔 &nbsp;库存：{{productMsg_list.num}}张</p>
	</div>
	<div class="certification">
		<p><span ng-if="productMsg_list.is_vs1==1">认证商家</span><span ng-if="productMsg_list.is_vs2==1">正品保证</span><span ng-if="productMsg_list.is_vs3==1">假一赔十</span><span ng-if="productMsg_list.is_vs4==1">当日送达</span><span ng-if="productMsg_list.is_vs5==1">免运费</span><span ng-if="productMsg_list.is_vs6==1">货到付款</span></p>
	</div>
	<div class="discuss">
		<span ng-cloak class="discuss-title">评论（{{productMsg.pingnum}}）</span>
		<span class="see-all"ng-click="seeAll()">查看全部评论</span>
	</div>
	<div class="discuss-cen"   infinite-scroll='evaluate.nextPage()' infinite-scroll-disabled='evaluate.busy' infinite-scroll-distance='1' >
		<div class="contianers" ng-repeat="item in evaluate.items">
			<div class="dis-top">
				<img src="" alt="" class="dis-tou">
				<span ng-cloak class="dis-name">{{item.user_nickname}}</span>
				<img src="http://wap.51loveshow.com/attachs/{{user_face}}" alt="">
				<span ng-cloak class="dis-data">{{item.create_time}}</span>
			</div>
			<p ng-cloak class="dis-cont">{{item.contents}}</p>
			<!-- <p class="dis-type">哈哈机打就打科技</p> -->
			<div class="row dis-photo">
				<div class="col-sm-3" ng-repeat="p in item.pic">
					<img ng-src="http://wap.51loveshow.com/attachs/{{p}}" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="discuss">
		<span class="discuss-title">商品介绍</span>
	</div>
	<div class="p-introduce">
	<p ng-bind-html="productMsg_list.instructions | to_trusted"></p>
		<p ng-bind-html="productMsg_list.details | to_trusted"></p>
		<img ng-src="http://wap.51loveshow.com/attachs/{{productMsg.pics.photo}}" alt="">
	</div>
	<footer class="navbar-fixed-bottom">
		<div class="collection" ng-click="love()">
			<p>收藏</p>
		</div>
		<div class="line"></div>
		<div class="runin" ui-sref="smallShop({shop_id:productMsg_list.shop_id})">
			<p>进店</p>
		</div>
		<div class="addCart" ng-click="addCart()">加入购物车</div>
		<div class="goPay" ng-click="gopay(good_id)">立即购买</div>
	</footer>
