<div flex-offset-gt-sm="30" flex-sm="100" flex-gt-sm="40" class="margin-top-10">
	<!-- restaurant content -->
	<div layout="row" layout-wrap class="restaurant-list">
		<section class="restaurant" ng-repeat="restaurant in restaurants | filter:{name:searchName}">
			<div class="card text-center">
				<div class="info">
					<div class="logo-container padding-10">
						<img src="{{restaurant.logo}}">
					</div>
					<h4>{{restaurant.name}}</h4>
					<h6>
						<i class="fa fa-map"></i> {{getDistance(restaurant.latitude,restaurant.longitude)}}Mi away
					</h6>
          <div layout="row" layout-wrap class="margin-top-10"> <!--Partner logo-->
            <section flex-sm="100" flex-gt-sm="100" class="text-left">
              <b class="padding-10">Order From:</b>
            </section>
            <section flex-sm="50" flex-gt-sm="50" class="text-left padding-10">
              <a ng-if="restaurant.esId" ui-sref="main.restaurantDetail.dishes({id:restaurant.esId,orderFrom:'ES'})"><img src="./assets/img/eat-street-logo.png" class="width-90" style="max-height:30px;vertical-align:-webkit-baseline-middle"/></a>
              <a ng-if="!restaurant.esId" ><img src="./assets/img/eat-street-logo-disable.jpg
              " class="width-90" style="max-height:30px;vertical-align:-webkit-baseline-middle"/></a>
            </section>
            <section flex-sm="50" flex-gt-sm="50" class="text-left padding-10">
              <a ng-if="restaurant.deId" ui-sref="main.restaurantDetail.dishes({id:restaurant.deId,orderFrom:'DE'})"><img src="./assets/img/deliverycom.jpeg" class="width-90" style="max-height:30px"/></a>
              <a ng-if="!restaurant.deId"><img src="./assets/img/deliverycom-disable.jpg" class="width-90" style="max-height:30px"/></a>
            </section>
          </div>
				</div>
			</div>
		</section>
	</div>
</div>
