	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<header>
		<select name="address" ng-model="selected" ng-change="selectedCity(city.area_id)">
			<option value="" ng-disabled="1" selected>请选择</option>
			<option value="{{city.city_id}}+{{city.area_id}}" ng-repeat="city in city_list">{{city.name||city.area_name}}</option>
		</select>
		<div class="soso">
			<input type="text" placeholder="输入商家/商品/商圈关键字">
			<span class="search-shop"></span>
		</div>
	</header>
	<nav>
		<a href="">
			<div>
				<img src="/assets/img/restaurants.png" alt="餐饮饭店">
				<span>餐饮饭店</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_jiudianzhusu.png" alt="酒店住宿">
				<span>酒店住宿</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_shuiguoshengxian.png" alt="水果生鲜">
				<span>水果生鲜</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_meirongmeifa.png" alt="美容美发">
				<span>美容美发</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_jianshenyule.png" alt="健身娱乐">
				<span>健身娱乐</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_bianlichaoshi.png" alt="便利超市">
				<span>便利超市</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/Maternal-and-child-supplies.png" alt="母婴商店">
				<span>母婴商店</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_yiliaojiankang.png" alt="医疗健康">
				<span>医疗健康</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_jifenshangcheng.png" alt="积分商城">
				<span>积分商城</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="/assets/img/img_gv_tuangouyouhui.png" alt="团购优惠">
				<span>团购优惠</span>
			</div>
		</a>
	</nav>
	<hr class="hr-change">

	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6 two-page pages">
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 two-page pages page-no">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4  three-page pages">

		</div>
		<div class="col-md-4 col-sm-4 col-xs-4  three-page pages">
			
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4  three-page pages page-no">
			
		</div>
	</div>
	<hr class="hr-change">
	<span class="shop-title">—&nbsp;附近店铺&nbsp;—</span>
	<div class="row marbtm clearfix"  infinite-scroll='shops.nextPage()' infinite-scroll-disabled='shop.busy' infinite-scroll-distance='1' >
		<div ng-repeat="shop in shops.items" ui-sref="smallShop({shop_id:shop.shop_id})">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<img ng-src="http://wap.51loveshow.com/attachs/{{shop.photo}}" alt="" class="pro-photo">
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 border-t-b nearShop">
				<div class="col-sm-9 col-xs-9 div-name text-overflow">{{shop.shop_name}}</div>
				<div class="col-sm-3 col-xs-3 shopDistance">
					{{shop.juli}}Km
				</div>
				<div class="col-sm-12 col-xs-12 shopAddress text-overflow">
					{{shop.addr|cut}}
				</div>
				<div class="col-5">
					<img src="/assets/img/star.png" alt="" class="star">
					<img src="/assets/img/star.png" alt="" class="star">
					<img src="/assets/img/star.png" alt="" class="star">
					<img src="/assets/img/star.png" alt="" class="star">
					<img src="/assets/img/star2.png" alt="" class="star">
				</div>
				<div class="col-sm-7 col-xs-7 text-left">
					<p class="On-sale">月售{{shop.allsold_num}}单</p>
				</div>
				<div class="col-sm-12 col-xs-12"><p class="ourmembers">本店会员：满￥<span class="ourprice">{{100}}</span>送￥<span class="ourprice">{{shop.yhk1}}</span></p></div>
				<div class="col-sm-12 col-xs-12"><p  class="ourmembers">平台会员：满￥<span class="ourprice">{{100}}</span>送￥<span class="ourprice">{{shop.yhk1}}</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="home_shop_nomore" ng-show='shops.end'>-暂无更多店铺-</div>
<dialog ng-if="dialog.open" close="dialog.open=false"  close-action="esc outerchick">
    <div dialog-title>拉拉秀商城</div>
    <div dialog-content>{{err}}</div>
</dialog>