
	<link rel="stylesheet" href="/assets/css/personal.css">
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
	<div class="banners navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">商户中心</p>
	</div>
	<div class="padding"></div>
	<div class="bg"></div>
		<div class="shop-img">
			<div class="shop-img-left">
				<img ng-src="http://wap.51loveshow.com/attachs/{{shopdata.shop_info.logo}}" alt="">
				<span ng-if="shopdata.shop_info.is_renzheng!=1" ui-sref="certification">申请认证</span>
				<span ng-if="shopdata.shop_info.is_renzheng==1">已认证</span>
			</div>
			<div class="shop-img-right">
				<p>{{shopdata.shop_info.shop_name}}(ID:{{shopdata.shop_info.shop_id}})</p>
				<span>暂无评价</span>
				<span>类  型：{{shopdata.shop_cate_name}}</span>
				<span>商户资金：￥{{shopdata.user_info.gold/100}}<a ui-sref="shopCash({type:'drawal'})">提现</a></span>
				<span>商户秀币：{{shopdata.user_info.integral/100}}</span>
			</div>
		</div>

	<div class="bg"></div>
	<div class="row "ui-sref="basic">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/shezhi.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			基本设置
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" >
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row " ui-sref="payShop" >
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/pays.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			优惠买单
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div>
		<div class="bgs"></div>
		<div class="row " ui-sref="shopFans">
			<div class="col-sm-1 col-xs-1">
				<img src="/assets/img/fans.png" alt="">
			</div>
			<div class="col-sm-9 col-xs-9">
				粉丝
			</div>
			<div class="col-sm-2 col-xs-2 text-right">
				<img src="/assets/img/line.png" alt="" class="lines">
			</div>
		</div>
	</div>

	<div class="bgs"></div>
	<div class="row" ui-sref="shopCash">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/moneys.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			资金结算
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row" ui-sref="xiubi">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/xiubi.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			秀币结算
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
		<div class="col-sm-12 col-xs-12">
			<button class="subOrder " ng-click="exit()">退出登录</button>
		</div>
