	<!-- <link rel="stylesheet" href="/assets/css/OfferPay.css"> -->
	<link rel="stylesheet" href="/assets/css/overflow.css">
<style>
	body{
		background-color: #eff0eb;
	}
</style>
<div class="OfferPay">
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
	<div class="banner  navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">粉丝列表</p>
	    <!-- <img src="/assets/img/add.png" alt="" class="add" ng-click="add()" ui-sref="addPay"> -->
	</div>
	<div class="padding"></div>
	<div class="input-phone">
		<div>
			<input type="tel" onkeydown="filterByEnter(event)" ng-model="mobile" placeholder="请输入昵称或手机号" >
			<button ng-click="soso() "></button>
		</div>
	</div>
	<div class="padding"></div>
	<div class="fansList" infinite-scroll='offerpay.nextPage()' infinite-scroll-disabled='offerpay.busy' infinite-scroll-distance='1'>
		<div class="fansitems" ng-repeat="Msg in offerpay.items">
			<div class="fansitems-left">
				<img ng-src="http://wap.51loveshow.com/attachs/{{Msg.face}}" alt="">
			</div>
			<div class="fansitems-right">
				<p class="text-overflow">昵称：{{Msg.username}}</p>
				<p>手机号：{{Msg.mobile}}</p>
			</div>
		</div>
	</div>
<div  cg-busy="{promise:offerpay.promise,templateUrl:offerpay.templateUrl,message:offerpay.message,backdrop:offerpay.backdrop,delay:offerpay.delay,minDuration:offerpay.minDuration}"></div>
<div class="marbom text-center clearfix"
 ng-show='offerpay.end'>-暂无更多信息-</div>
 </div>
