<!-- <link rel="stylesheet" href="/assets/css/money.css"> -->
<link rel="stylesheet" href="/assets/css/common.css">
<div class="money">
<div class="row bgc">
	<div class="col-sm-6 col-xs-6">
		<input type="text" placeholder="开始时间" class="kbtn input-time " id="beginTime" ng-model="beDate">
	</div>
	<div class="col-sm-6 col-xs-6">
		<input type="text" placeholder="结束时间" class="kbtn input-time " id="endTime" ng-model="endDate">
	</div>
	<div id="datePlugin"></div> 
	<div class="col-sm-12 col-xs-12">
		<button class="soso " ng-click="soso()" ng-disabled="0">搜索</button>
	</div>
</div>
<div class="row mar-bo"  infinite-scroll='moneys.nextPage()' infinite-scroll-disabled='moneys.busy' infinite-scroll-distance='1' >
	<div class="col-sm-12 col-xs-12" ng-repeat="m in moneys.items">
		<div class="moneyMsg">
			<p ng-cloak>说明：{{m.intro}}</p>
			<p ng-cloak>资金：￥{{m.gold/100}}</p>
			<p ng-cloak>时间：{{m.create_time*1000|date:'yyyy-MM-dd HH:mm:ss'}}</p>
		</div>
	</div>
</div>
<div cg-busy="{promise:moneys.promise,templateUrl:moneys.templateUrl,message:moneys.message,backdrop:moneys.backdrop,delay:moneys.delay,minDuration:moneys.minDuration}"></div>
	<div class="nullMoney" ng-show='moneys.end'>-暂无更多日志-</div>
</div>
<script>
	$(function(){  
    	$('#beginTime').date();
    	$('#endTime').date();
    }); 
</script>