	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/shopCart.css">
	
	<div class="banner">
		<img src="/assets/img/552cc14536532_128.png" alt="" onClick="javascript:history.go(-1);">
		<span>购物车</span>
	</div>
	<div class="none" ng-show="!cart_list.length">您的购物车里是空的</div>
	<div class="products" ng-show="cart_list.length">
		<div class="productItem" ng-repeat="carts in cart_list" >
			<img ng-src="{{carts.photo}}" alt="" class="pro-img">
				<p  class="pro-title">{{carts.title}}</p>
				<span class="price-one">单价：￥{{carts.mall_price}}</span>
				<span class="price-all">合计：<span  class="price-one">￥{{carts.mall_price*num}}</span></span><br>
				<button ng-click="remo()">-</button><input type="text" ng-model="num" ng-keyup="only_number(num)"><button class="btn-add" ng-click="add()">+</button>
			<div ng-click="delect(carts.cart_id)" class="delect-div">
				<img src="/assets/img/img_delete.png" alt="" class="delect">
			</div>
		</div>
	</div>

	<footer class="navbar-fixed-bottom">
		<img src="/assets/img/img_shopcart.png" alt="">
		<span>￥{{total}}</span>
		<div class="goPay" ng-click="goPay()" ui-sref="SubmitOrder">结算</div>
	</footer>
<dialog ng-if="dialog.open" close="dialog.open=false">
    <div dialog-title>拉拉秀商城</div>
    <div dialog-content>{{err}}</div>
</dialog>