
	<link rel="stylesheet" href="/assets/css/personal.css">
	<div class="banners navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>商户中心</p>
	</div>
	<div class="padding"></div>
	<div class="bg"></div>

		<div class="shop-img">
			<div class="shop-img-left">
				<img src="" alt="">
			</div>
			<div class="shop-img-right">
				<p>悠山庭院度假酒店(ID:88)</p>
				<span>暂无评价</span>
				<span>类  型：三星级</span>
				<span>商户资金：￥88.88<a>提现</a></span>
				<span>商户秀币：688<a>提现</a></span>
			</div>
		</div>

	<div class="bg"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/shezhi.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			基本设置
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="basic">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/pays.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			优惠买单
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="applyCash" >
		</div>
	</div>
	<div>
		<div class="bgs"></div>
		<div class="row">
			<div class="col-sm-1 col-xs-1">
				<img src="/assets/img/fans.png" alt="">
			</div>
			<div class="col-sm-9 col-xs-9">
				粉丝
			</div>
			<div class="col-sm-2 col-xs-2 text-right">
				<img src="/assets/img/line.png" alt="" class="lines">
			</div>
		</div>
	</div>

	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/moneys.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			资金结算
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines" ui-sref="Mycart">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-1 col-xs-1">
			<img src="/assets/img/xiubi.png" alt="">
		</div>
		<div class="col-sm-9 col-xs-9">
			秀币结算
		</div>
		<div class="col-sm-2 col-xs-2 text-right">
			<img src="/assets/img/line.png" alt="" class="lines">
		</div>
	</div>
	<div class="bgs"></div>
	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<button class="subOrder" ng-click="exit()">退出登录</button>
		</div>
	</div>
