	<!-- <link rel="stylesheet" href="/assets/css/pingjia.css"> -->
<div class="pingjia">
	<div class="discuss-cen"   infinite-scroll='evaluate.nextPage()' infinite-scroll-disabled='evaluate.busy' infinite-scroll-distance='1' >
		<div class="contianers" ng-repeat="item in evaluate.items">
			<div class="dis-top clearfix">
				<div class="dis-top-left">
					<img ng-src="http://139.224.61.180:8080/attachs/{{item.user_face}}" alt="" class="dis-tou">
				</div>
				<div class="dis-top-right">
					<div class="clearfix">
						<span ng-cloak class="dis-name" style="color:black;">{{item.user_nickname}}</span>
						<img ng-src="/assets/img/vip_icon{{item.rank_id}}.png" alt="" class="dengji">
						<span ng-cloak class="dis-data">{{item.create_time}}</span>
					</div>
					<div class="starContainer">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=1">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=2">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=3">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score>=4">
						<img src="/assets/img/star-p.png" alt="" class="star" ng-show="item.score==5">
					</div>
				</div>
			</div>
			<p ng-cloak class="dis-cont">{{item.contents}}</p>
			<!-- <p class="dis-type">哈哈机打就打科技</p>  -->
			<div class="row dis-photo">
				<div class="photocontainer" ng-repeat="p in item.pic">
					<img ng-src="http://139.224.61.180:8080/attachs/{{p}}" alt="" style="width: 100%;height:100%;">
				</div>
			</div>
			<div class="BusinessRe" ng-if="item.reply!=null">
			<span>商家回复：</span ng-cloak>{{item.reply}}</div>
		</div>
	</div>
<div  cg-busy="{promise:evaluate.promise,templateUrl:evaluate.templateUrl,message:evaluate.message,backdrop:evaluate.backdrop,delay:evaluate.delay,minDuration:evaluate.minDuration}"></div>
<div class="home_shop_nomore" ng-show='evaluate.end'>-暂无更多评价-</div>
</div>
