	<!-- <link rel="stylesheet" href="/assets/css/shopMsg.css"> -->
<style>
	body{
		background-color: #eff0eb;
	}
</style>
<div class="shopMsg">
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">商户信息</p>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="shopMsg">
		<p class="time">营业时间：8:00-22:00</p>
		<p ng-cloak class="addr">地址：{{detail.addr}}</p>

		<div class="wifi">WIFI</div>
	</div>
	<div class="zhizhaoMsg">
		<p>门店营业执照信息</p>
		<div>
			<span ng-if="shop_audit.photo==null">暂无上传</span>
			<img ng-if="shop_audit.photo!=null"  ng-src="http://139.224.61.180:8080/attachs/{{shop_audit.photo}}" alt="">
		</div>
	</div>
	<div class="foodsMsg">
		<p>食品经营许可证信息</p>
		<div>
			<span ng-if="shop_audit.pic==null">暂无上传</span>
			<img ng-if="shop_audit.pic!=null" ng-src="http://139.224.61.180:8080/attachs/{{shop_audit.pic}}" alt="">
		</div>
	</div></div>
</div>