
	<link rel="stylesheet" href="/assets/css/shopCart.css">
	
	<div class="banner navbar-fixed-top">
		<img src="/assets/img/552cc14536532_128.png" alt="" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
		<span>购物车</span>
	</div>
	<div class="padding"></div>
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="none" ng-show="!cart_list.length">您的购物车里是空的</div>
	<div class="products" ng-show="cart_list.length"ng-repeat="carts in cart_list">
		<div class="productItem"  >
			<img ng-src="http://wap.51loveshow.com/attachs/{{carts.photo}}" alt="" class="pro-img">
				<p ng-cloak class="pro-title">{{carts.title}}</p>
				<span ng-cloak class="price-one">单价：￥{{carts.mall_price/100}}</span>
				<span class="price-all">合计：<span ng-cloak class="price-one">￥{{carts.mall_price/100*carts.cart_num}}</span></span><br>
				<button ng-click="remo(carts)">-</button><input type="text" ng-model="carts.cart_num"
				 readonly=""><button class="btn-add" ng-click="add(carts)">+</button>
			<div ng-click="delect(carts)"  class="delect-div">
				<img src="/assets/img/img_delete.png" alt="" class="delect">
			</div>
		</div>
	</div>
	<footer class="navbar-fixed-bottom" style="background-color: #fff;">
	<div ng-cloak class="cir">{{getTotalAmount()}}</div>
		<img src="/assets/img/img_shopcart.png" alt="">
		<span ng-cloak>￥{{getTotalPrice()}}</span>
		<div class="goPay" ng-click="goPay()">结算</div>
	</footer>
	</div>