
<link rel="stylesheet" href="/assets/css/login.css">
<div class="banner navbar-fixed-top">
	<img src="/assets/img/return.png" alt="返回" onClick="javascript:history.go(-1);" style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	<p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">注册</p>
</div>
<div class="padding"></div>
<div class="center-img">
	<img src="/assets/img/top-banner.png" alt="banner">
</div>
<div class="form">
	<input type="tel" class="form-control phone" placeholder="请输入手机号" ng-model="user.mobile" ng-maxlength="11" ng-pattern="/^1[34578]\d{9}$/" required>
	<div class="card">
		<input type="text" class="form-control phone2" placeholder="请输入验证码" ng-model="cards" ng-maxlength="6" required>
		<timerbutton ng-click="getCard()"></timerbutton>
	</div>
	<input type="password" class="form-control pwd" placeholder="请输入密码" ng-model="pwd1">
	<input type="password" class="form-control pwd2" placeholder="重复输入密码" ng-model="pwd2">
	<button class="btn-submit" ng-click="signup()" ng-disabled="cards.length!=6||pwd1!=pwd2||pwd1==undefined||pwd2==undefined">注册</button>
</div>
<div class="telphone">
	<p>服务电话：400-7731377</p>
</div>
