<link rel="stylesheet" href="/assets/css/login.css">

<div class="banner">
    <img src="/assets/img/return.png" alt="返回" ui-sref="main.home">
    <p>登陆</p>
</div>
<!-- 中间logo区域 -->
<div class="center-img">
    <img src="/assets/img/top-banner.png" alt="banner">
</div>
<!-- 表单控件区域 -->
<div class="form">
    <input type="text" class="form-control phone" ng-model="user.mobile" placeholder="请输入手机号" ng-maxlength="11" ng-pattern="/^1[34578]\d{9}$/" required >
    <input type="password" class="form-control pwd" ng-model="user.password" placeholder="请输入密码" required>
    <button class="btn-submit" ng-click="signin()" ng-disabled="user.mobile.length!=11||user.password==null||user.password==''">登陆</button>
</div>
<div class="jump-others">
    <a ui-sref="forgot">忘记密码</a>
    <a ui-sref="signup">立刻注册</a>
</div>
<!-- 联系电话 -->
<div class="telphone">
    <p>服务电话：400-7731377</p>
</div>
<dialog ng-if="dialog.open" close="dialog.open=false" close-action="esc outerchick">
    <div dialog-title>拉拉秀商城</div>
    <div dialog-content>{{err}}</div>
</dialog>
