
<style>
	body{
		background-color: #eff0eb;
	}
</style>
<div class="smallShop">
	<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
	<div class="banner">
    <img src="http://139.224.61.180:8080/attachs/{{detail.logo}}" alt="" class="blur imgbg">
        <div class="cir cir-left img-circle">
            <img src="/assets/img/img_back_shop_detail.png" alt="" onClick="javascript:history.go(-1);" style="width: 0.69444444rem;margin: 0.11111111rem 0 0 0.057rem;">
        </div>
        <div class="cir cir-right img-circle" ng-click="shareBtn()">
            <img src="/assets/img/img_fenxiang.png" alt=""style="width: 0.69444444rem;margin: 0.11111111rem 0 0 0.05555556rem;">
        </div>
        <div class="cir cir-rights img-circle">
            <img src="/assets/img/img_collect_shop_detail.png" alt="" style="margin:0.08rem 0 0 0.12rem;width: 0.69444444rem;" ng-click="love()">
        </div>
		<table class="table-proMsg">
		<tr>
			<td rowspan="3"><img src="http://139.224.61.180:8080/attachs/{{detail.logo}}" alt="" class="table-img"></td>
			<td>
				<tr>
					<td ng-cloak class="td-proname" style="color:white">{{detail.shop_name}}</td>
				</tr>
				<tr>
					<td class="td-msg">
						<p ng-cloak class="text-overflow" style="color:white">公告：</p>
					</td>
				</tr>
			</td>
		</tr>
		</table>
	</div>
	<div class="bannerBar">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="border">
					<p ng-cloak class="p-top">{{msg.favnum}}</p>
					<p class="p-bottom">收藏</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="border border-left">
					<p class="p-top">{{area_name}}</p>
					<p class="p-bottom">所在地</p>
				</div>
			</div>
		</div>
	</div>
	<div class="preferential" ng-if="detail.shop_class==1">
		<img src="/assets/img/img_jian.png" alt="">
		<p>本店会员:满￥100减￥{{detail.yhk1}},平台会员:满￥100减￥{{detail.yhk2}}</span>
	</div>
	<div class="bgc clearfix">
		<div class="hotBuy" name="rexiao" id="rexiao">
			<div class="hotBuyTitle">热销</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="hot_goods in hot_goods_list" ui-sref="product({goods_id:hot_goods.goods_id})">
					<div class="userProducts">
						<img ng-src="http://139.224.61.180:8080/attachs/{{hot_goods.photo}}" alt="">
						<p ng-cloak class="text-overflow">{{hot_goods.title}}</p>
						<span ng-cloak class="price">￥{{hot_goods.mall_price/100|number:2}}</span>
						<span ng-cloak class="show">销量{{hot_goods.sold_num}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="allDish" name="all" id="all" >
			<div class="hotBuyTitle">全部商品</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="goods in goods_list" ui-sref="product({goods_id:goods.goods_id})">
					<div class="userProducts">
						<img ng-src="http://139.224.61.180:8080/attachs/{{goods.photo}}" alt="">
						<p ng-cloak class="text-overflow">{{goods.title}}</p>
						<span ng-cloak class="price">￥{{goods.mall_price/100|number:2}}</span>
						<span ng-cloak class="show">销量{{goods.sold_num}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="xianshi" ng-show="show==true">
		<div class="row" ng-click="show=!show">
			<div class="col-md-6 col-sm-6 col-xs-6 border-top">
				<a class="footer-p" href="#rexiao">热销</a>
			</div>
		</div>
		<div class="row" ng-click="show=!show">
			<div class="col-md-6 col-sm-6 col-xs-6 border-top">
				<a class="footer-p" href="#all">全部商品</a>
			</div>
		</div>
	</div>
	<footer style="position: fixed;bottom: 0;height:1.4rem;">
		<div class="row" style="width: 100%;">
			<div class="col-md-6 col-sm-6 col-xs-6" ng-click="show=!show">
				<p class="footer-p footer-p-img" style="">分类</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 ">
				<a class="footer-p tel-footer" href="tel:{{detail.tel}}">联系商家</a>
			</div>
		</div>
	</footer>
	</div>
</div>