	<link rel="stylesheet" href="/assets/css/smallShop.css">
	<div class="banner">
    <img src="http://wap.51loveshow.com/attachs/{{detail.logo}}" alt="" class="blur imgbg">
        <div class="cir cir-left img-circle">
            <img src="/assets/img/img_back_shop_detail.png" alt="" onClick="javascript:history.go(-1);">
        </div>
        <div class="cir cir-right img-circle" ng-click="shareBtn()">
            <img src="/assets/img/img_fenxiang.png" alt="" >
        </div>
        <div class="cir cir-rights img-circle">
            <img src="/assets/img/img_collect_shop_detail.png" alt="" style="margin:0.08rem 0 0 0.1rem;" ng-click="love()">
        </div>
		<table class="table-proMsg">
		<tr>
			<td rowspan="3"><img src="http://wap.51loveshow.com/attachs/{{detail.logo}}" alt="" class="table-img"></td>
			<td>
				<tr>
					<td ng-cloak class="td-proname">{{detail.shop_name}}</td>
				</tr>
				<tr>
					<td class="td-msg">
						<p ng-cloak class="text-overflow">公告：</p>
					</td>
				</tr>
			</td>
		</tr>
		</table>
	</div>
	<div class="bannerBar">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="border">
					<p ng-cloak class="p-top">{{msg.favnum}}</p>
					<p class="p-bottom">收藏</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="border border-left">
					<p class="p-top">上海</p>
					<p class="p-bottom">所在地</p>
				</div>
			</div>
		</div>
	</div>
	<div class="preferential">
		<img src="/assets/img/img_jian.png" alt="">
		<span>本店会员</span>
	</div>
	<div class="bgc clearfix">
		<div class="hotBuy">
			<div class="hotBuyTitle">热销</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="hot_goods in hot_goods_list" ui-sref="product({goods_id:hot_goods.goods_id})">
					<div class="userProducts">
						<img ng-src="http://wap.51loveshow.com/attachs/{{hot_goods.photo}}" alt="">
						<p ng-cloak>{{hot_goods.title}}</p>
						<span ng-cloak class="price">￥{{hot_goods.mall_price/100}}</span>
						<span ng-cloak class="show">销量{{hot_goods.sold_num}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="allDish">
			<div class="hotBuyTitle">全部商品</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="goods in goods_list" ui-sref="product({goods_id:goods.goods_id})">
					<div class="userProducts">
						<img ng-src="http://wap.51loveshow.com/attachs/{{goods.photo}}" alt="">
						<p ng-cloak>{{goods.title}}</p>
						<span ng-cloak class="price">￥{{goods.mall_price/100}}</span>
						<span ng-cloak class="show">销量{{goods.sold_num}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<p class="footer-p footer-p-img">分类</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<a class="footer-p tel-footer"href="tel:{{goods.tel}}">联系商家</a>
			</div>
		</div>
	</footer>