	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/SubmitOrder.css">
	
	<div class="banner">
		<img src="/assets/img/552cc14536532_128.png" alt="">
		<span>提交订单</span>
	</div>
	<div class="bg"></div>
	<div class="shopname">
		有啥哪儿安度晚年
	</div>
	<div class="bgs"></div>
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name">迷你小冬瓜</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6">
					<p class="pr-num">x1</p>
				</div>
				<div class="col-sm-6 col-xs-6">
					<p class="pro-pri">￥8</p>
				</div>
			</div>
		</div>

	<div class="bgs"></div>
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name">迷你小冬瓜</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6">
					<p class="pr-num">x1</p>
				</div>
				<div class="col-sm-6 col-xs-6">
					<p class="pro-pri">￥8</p>
				</div>
			</div>
		</div>