
	<link rel="stylesheet" href="/assets/css/SubmitOrder.css">
	
	<div class="banner">
		<img src="/assets/img/552cc14536532_128.png" alt=""  onClick="javascript:history.go(-1);">
		<span>提交订单</span>
	</div>
	<div class="bg"></div>
	<div class="shopname">
		有啥哪儿安度晚年
	</div>
	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name">迷你小冬瓜</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6">
					<p class="pr-num">x1</p>
				</div>
				<div class="col-sm-6 col-xs-6">
					<p class="pro-pri">￥8</p>
				</div>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name pr-color">消费金额</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6"></div>
				<div class="col-sm-6 col-xs-6">
					<p class="pro-pri">￥8</p>
				</div>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name pr-color">优惠券抵扣</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6"></div>
				<div class="col-sm-6 col-xs-6">
					<p class="pro-pri">-0</p>
				</div>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name pr-color">备注</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6"></div>
				<div class="col-sm-6 col-xs-6">
					<p class="pro-pri"></p>
				</div>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name pr-color">赠品消费</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 col-xs-6">
					
				</div>
				<div class="col-sm-6 col-xs-6">
					<p class="pro-pri"></p>
				</div>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				<p class="pr-name pr-color">使用秀币</p>
			</div>
			<div class="col-sm-2 col-xs-2">
				<p class="pr-name text-left">100</p>
			</div>
			<div class="col-sm-6 col-xs-6">
				<p class="pr-name">秀币金额:<span class="span-color">88888</span></p>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
			<div class="col-sm-4 col-xs-4">
				<p class="pr-name pr-color">实付</p>
			</div>
			<div class="col-sm-2 col-xs-2">
				<p class="pr-name text-left price-c">8</p>
			</div>
		</div>

	<div class="bgs"></div><div class="bgs"></div>
		<div class="row">
				<div class="col-sm-12 col-xs-12">
					<button class="subOrder" ng-click="subOrder()" ui-sref="payment">提交订单</button>
				</div>
		</div>
<dialog ng-if="dialog.open" close="dialog.open=false" close-action="esc outerchick">
    <div dialog-title>拉拉秀商城</div>
    <div dialog-content>{{err}}</div>
</dialog>