	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/updataTotal.css">

	<div class="banner">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);">
	    <p>修改头像</p>
	</div>
	<p class="dataTotal">当前头像</p>
	<div>
		<img src="http://106.14.57.99:8888/attachs/{{face}}" alt="" class="total-img">
	</div>
	<div style="position: relative;">
		<input size="100" id="fileToUpload" accept="image/*" name="fileToUpload" type="file" class="file"/>
		<button class="changeTotal" ng-show="show">更换新头像</button>
		<button class="changeTotal now-change" ng-hide="show">立即更换</button>
	</div>
	<span>(图片建议大小为300X300像素，形状为正方形。)</span>
<dialog ng-if="dialog.open" duration="2000" close="dialog.open=false" close-action="esc outerchick">
    <div dialog-content>{{err}}</div>
</dialog>
	<script src="/assets/js/localResizeIMG.js"></script>
	<script src="/assets/js/mobileBUGFix.mini.js"></script>

