
<!-- <link rel="stylesheet" href="/assets/css/applyCash.css"> -->
<link rel="stylesheet" href="/assets/css/overflow.css">
<div class="applyCash">
<div class="banner navbar-fixed-top">
    <img src="/assets/img/552cc14536532_128.png" alt="返回" ui-sref="main.personal" style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">秀币商城订单</p>
</div>
<div class="padding"></div>
<div class="menu row">
	<div class="col-sm-4 col-xs-4"ng-class="{'border':chose1}" ng-click="chose(1)">全部订单</div>
	<div class="col-sm-4 col-xs-4" ng-class="{'border':chose2}" ng-click="chose(2)">待付款</div>
	<div class="col-sm-4 col-xs-4" ng-class="{'border':chose3}"   ng-click="chose(3)">已付款</div>
</div>
<div ng-include="'views/xiubiallIndent.html'" ng-if="chose1==1" ng-controller="xiubiallIndentCtrl">
	
</div>
<div  ng-include="'views/xiubinoIndent.html'" ng-if="chose2==1" ng-controller="xiubinoIndentCtrl">
	
</div>
<div ng-include="'views/xiubiIndented.html'"ng-if="chose3==1" ng-controller="xiubiIndentedCtrl">
	
</div>
</div>

