<link rel="stylesheet" href="/assets/css/allIndent.css">
<link rel="stylesheet" href="/assets/css/overflow.css">
<div infinite-scroll='xiubicart.nextPage()' infinite-scroll-disabled='xiubicart.busy' infinite-scroll-distance='1' >
<div class="row" ng-repeat="pr in xiubicart.items">
	<div class="col-sm-12 col-xs-12 indentMsg">
		<div ng-cloak class="indentId">订单ID：{{pr.jforder_id}}</div>
		<div ng-cloak class="indemtTime">
			下单时间：{{pr.cdate}}
		</div>
	</div>
	<div class="col-sm-12 col-xs-12 bgt">
		<div class="indent-center">
			<div class="indentPhoto">
				<img ng-src="http://wap.51loveshow.com/attachs/{{pr.photo}}" alt="">
			</div>
			<div class="indent-num">
				<p ng-cloak class="text-overflow">{{pr.title}}</p>
				<div>小计：<span ng-cloak>￥{{pr.total/100}}元</span></div>
				<div>使用秀币：<span ng-cloak>{{pr.integral}}&nbsp;抵现：{{pr.integral/100}}元</span></div>
				<div>使用余额：<span ng-cloak>{{pr.gold/100}}元</span></div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-xs-12 indentMsg">
		<div>实际支付：<span ng-cloak class="indentPrice">￥{{pr.need_pay/100}}</span> 元</div>
	</div>
	<div class="col-sm-12 col-xs-12 btmindent">
		<div>
		<button class="pingjia" ng-show="pr.status==1" ng-click="paynow(pr.jforder_id)">立即付款</button>
		<button class="pingjia" ng-show="pr.status==1" ng-click="quxiao(pr.jforder_id)">取消订单</button>
		<button class="pingjia" ng-show="pr.status==2">待发货</button>
		<button class="pingjia" ng-show="pr.status==3" ui-sref="courierMsg({order_id:pr.jforder_id})">物流信息</button>
		<button class="pingjia" ng-show="pr.status==3" ng-click="shouhuo(pr.jforder_id)">确认收货</button>
		<button class="pingjia" ng-show="pr.status==4">已收货</button>
		<button class="pingjia" ui-sref="jforderMsg({order_id:pr.jforder_id})">详情</button>
		</div>
	</div>
</div>
</div>
<div cg-busy="{promise:xiubicart.promise,templateUrl:xiubicart.templateUrl,message:xiubicart.message,backdrop:xiubicart.backdrop,delay:xiubicart.delay,minDuration:xiubicart.minDuration}"></div>
	<div class="home_shop_nomore" ng-show='xiubicart.end'>-暂无更多订单-</div>