<link rel="stylesheet" href="/assets/css/applyCash.css">
<link rel="stylesheet" href="/assets/css/money.css">
<link rel="stylesheet" href="/assets/css/common.css">
<div class="banner navbar-fixed-top">
    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
    <p style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">秀币记录</p>
</div>
<div class="padding"></div>
<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="row bgc">
	<div class="col-sm-6 col-xs-6">
		<input type="text" placeholder="开始时间" class="kbtn input-time " id="beginTime" ng-model="beDate">
	</div>
	<div class="col-sm-6 col-xs-6">
		<input type="text" placeholder="结束时间" class="kbtn input-time " id="endTime" ng-model="endDate">
	</div>
	<div id="datePlugin"></div> 
	<div class="col-sm-12 col-xs-12">
		<button class="soso " ng-click="soso()" ng-disabled="0">搜索</button>
	</div>
</div>
<div class="row mar-bo">
	<div class="col-sm-12 col-xs-12" ng-repeat="m in arr">
		<div class="moneyMsg">
			<p ng-cloak>说明：{{m.intro}}</p>
			<p ng-cloak>资金：￥{{m.gold/100}}</p>
			<p ng-cloak>时间：{{m.create_time*1000|date:'yyyy-MM-dd hh:mm:ss'}}</p>
		</div>
	</div>
	<div ng-if='noLead' class="nullMoney">当前日期内暂无资金日志</div>
</div>

<script>
	$(function(){  
    	$('#beginTime').date();
    	$('#endTime').date();
    }); 
</script>