
	<!-- <link rel="stylesheet" href="/assets/css/overflow.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/xiubiShop.css"> -->
<div class="xiubiShop">
<div  cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
	<div class="banner navbar-fixed-top">
	    <img src="/assets/img/552cc14536532_128.png" alt="返回" onClick="javascript:history.go(-1);"style="width:0.69444444rem;position: absolute;margin-top: 0.35rem;float: left;margin-left: 0.69444444rem;
  ">
	    <p ng-cloak style="text-align: center;line-height: 1.38rem;color: #fff;font-size: 0.41666667rem;">秀币商城</p>
	</div>
	<div class="padding"></div>
	<div class="centerImgbanner">
		<img ng-src="/assets/img/jifen.png" alt="图片区域">
	</div>
	<div style="margin-top: 5px;"></div>
	
	<div class="row marbtm clearfix martop"  infinite-scroll='xiubi.nextPage()' infinite-scroll-disabled='xiubi.busy' infinite-scroll-distance='1' >
		<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="hot_goods in xiubi.items" ui-sref="xiubiProduct({goods_id:hot_goods.goods_id})">
					<div class="userProducts">
						<img ng-src="http://139.224.61.180:8080/attachs/{{hot_goods.photo}}" alt="">
						<p ng-cloak class="text-overflow">{{hot_goods.title}}</p>
						<span ng-cloak class="price">￥{{hot_goods.mall_price/100}}</span>
						<span ng-cloak class="show">销量{{hot_goods.sold_num}}</span>
					</div>
				</div>
			</div>
		</div>
		<div cg-busy="{promise:xiubi.promise,templateUrl:xiubi.templateUrl,message:xiubi.message,backdrop:xiubi.backdrop,delay:xiubi.delay,minDuration:xiubi.minDuration}"></div>
	<div class="home_shop_nomore" ng-show='xiubi.end'>-暂无更多信息-</div>
</div>