<div style="background-color:#e0e0e0" layout="column">
  <div class="margin-10 bk-color-white">
    <div ng-repeat="i in [1,2,3,4,5,6,7,8,9]" flex layout="row" layout-wrap class="padding-10">
      <section flex-sm="100" flex-gt-sm="80">
        <h4><a href="">Shake Shack</a></h4>
        <p>11/12/15</p>
        <p>150th Street, New York, NY</p>
      </section>
      <section flex-sm="100" flex-gt-sm="20">
        <md-button class="md-raised md-primary">Reorder</md-button>
      </section>
      <section flex-sm="100" flex-gt-sm="100" class="margin-vertical-10">
        <md-divider></md-divider>
      </section>
    </div>
  </div>
</div>