
<div layout="column" class="cp-list">
  <div ng-if="!inCpProfile">
    <md-menu md-offset="10 50">
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" style="width:150px">
        <h5 class="md-title margin-0">+ CREATE LIST</h5>
      </md-button>
      <md-menu-content width="5" class="pop-up-menu padding-5">
        <md-input-container md-no-float class="md-block">
          <label>List Name:</label>
          <input type="text" ng-model="addList.listName" required name="listName">
          <div ng-messages="addListForm.listName.$error" role="alert" ng-if="addListForm.listName.$touched">
            <div ng-message="required">List Name is required!</div>
          </div>
        </md-input-container>
        <a
                class="md-raised md-button"
                ngf-select="uploadBackgroundPicProfile($files, $invalidFiles)" multiple
                accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Upload Pic</a>
        <md-input-container md-no-float class="md-block">
          <img ngf-src="addList.image" style="width:100%;max-width:200px;max-height:90px">
          <input type="hidden" ng-model="addList.image" required name="backgroundPic">
          <div ng-messages="addListForm.backgroundPic.$error" role="alert" ng-if="addListForm.backgroundPic.$touched">
            <div ng-message="required">background picture is required!</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <label>Tags: fun, lobster, night life</label>
          <input type="text" ng-model="addList.tags" required name="tags">
          <div ng-messages="addListForm.tags.$error" role="alert" ng-if="addListForm.tags.$touched">
            <div ng-message="required">Tags is required!</div>
          </div>
        </md-input-container>
        <a ng-click="createListProfile()" class="md-button">
          <h6 class="md-title margin-0" >Create</h6>
        </a>
      </md-menu-content>
    </md-menu>
  </div>

  <div layout="column" class="list-content">
    <section ng-repeat="likedList in likedLists" class="box text-center">
      <!--background and overlay-->
      <img class="background" src="{{likedList.image}}"/>
      <div class="background-overlay"></div>

      <div class="padding-top-10">
        <a class="md-headline color-white block margin-auto md-button" ui-sref="main.profile.listDetail({id:likedList._id})" >
          <h5 ng-if="!inCpProfile" >{{likedList.listName}}</h5>
          <h5 ng-if="inCpProfile" ui-sref="main.cpProfile.lists.list({userId:1,listId:$index})" >{{likedList.listName}}</h5>
        </a>

        <md-menu ng-if="!inCpProfile" class="edit-menu margin-0 padding-0 float-right" md-offset="2 0" md-position-mode="target-right target" >
          <md-button class="edit-btn md-headline color-white block margin-10" ng-click="$mdOpenMenu($event)">
            <i class="material-icons">more_vert</i>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item ng-repeat="item in ['Delete']">
              <md-button ng-click="delList(likedList._id,$index)">{{item}}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <h5 class="margin-10">{{likedList.dishes.length}} Dishes</h5>
      <div layout="row" layout-wrap class="padding-horizontal-10">
        <i class="material-icons md-caption" style="font-size:1em;">local_offer</i>
        <span class="md-body-1 margin-horizontal-5" ng-repeat="tag in likedList.tags">#{{tag}}</span>
      </div>
    </section>
  </div>

</div>

