<!--<div class="tag-location padding-5" layout="row" layout-wrap>-->
  <!--<div flex="80" flex-sm="50">-->
    <!--<md-input-container class="md-block padding-5">-->
      <!--<md-select ng-change="changeCategory(categoryFilter)" ng-model="categoryFilter" aria-label="category filter">-->
        <!--<md-option value="">-Category-</md-option>-->

        <!--<md-option ng-repeat="category in categorys" value="{{category}}">-->
          <!--{{category}}-->
        <!--</md-option>-->
      <!--</md-select>-->
    <!--</md-input-container>-->
  <!--</div>-->
<!--</div>-->
<!--<md-divider></md-divider>-->
<!--<div layout-xs="column" layout-wrap class="dish-list">-->

  <!--<section class="dish margin-bottom-10" ng-repeat="dish in showDishes">-->
    <!--<div layout="row">-->
      <!--<div flex="30" class="dish-image-container">-->
        <!--<img ng-src="{{dish.object.images.length > 0?dish.object.images[0]:'http://media4.giphy.com/media/26tnlYdWMzIYdaocU/giphy.gif'}}" alt="tacos" ng-click="showDishModal($event,dish.object)">-->
      <!--</div>-->
      <!--<div flex="70" class="info padding-10">-->
        <!--<h4 class="inline-block" ng-click="showDishModal($event,dish.object)">{{dish.object.name | cut:true:25:'...'}}</h4>-->
          <!--<h5 class="float-right color-grey">${{dish.object.price}}</h5>-->
          <!--<div class="rating-star">-->
            <!--<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>-->
          <!--</div>-->

          <!--<p class="padding-vertical-5">{{dish.object.description | cut:true:85:'...'}}</p>-->
          <!--<div class="icons">-->

            <!--<a ng-if="likedDIshId[dish._id]" href="" ng-click="showUndoLike($event,dish._id)"><i class="material-icons">favorite</i></a>-->
            <!--<a ng-if="!likedDIshId[dish._id]" href="" ng-click="showAddToLikeToast($event,dish._id)"><i class="material-icons">favorite_border</i></a>-->

            <!--<a href="" ng-click="showAddToListModal($event,dish.object._id)"><i class="material-icons">add</i></a>-->
            <!--<a href="" ng-click="showConfirmationToast(dish.object)"><i class="material-icons">shopping_basket</i></a>-->
          <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

<!--</div>-->

<div layout-xs="column" layout-wrap class="dish-list"><!-- also need to modify list.html-->
  <section class="dish" ng-repeat="dish in showDishes">
    <div layout="row">
      <div flex="20">
        <section class="dish-image-container">
          <img ng-src="{{dish.object.images.length > 0?dish.object.images[0]:'./assets/img/dishImagePlaceholder.png'}}" alt="tacos" ng-click="showDishModal($event,dish.object)">
        </section>

      </div>
      <div flex="80" class="info padding-10">
        <section layout="row">
          <h4 flex="75" class="inline-block dish-title" ng-click="showDishModal($event,dish.object)">{{dish.object.name | cut:true:25:'...'}}</h4>
            <h5 flex="25" class="text-right color-grey">${{dish.object.price}}</h5>
        </section>
        <section class="rating-star">
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
        </section>
        <section class="dish-description" style="min-height:50px; max-height:150px; overflow:auto">
          <p class="padding-vertical-5">{{dish.object.description | cut:true:85:'...'}}</p>
        </section>

      </div>
    </div>
  </section>

</div>

