body {
  font-family: "SimHei";
  color: #7f8180;
}
.row {
  margin: 0;
  padding: 0;
}
.banner {
  width: 100%;
  height: 1.38rem;
  background-color: #3e9ece;
}
.banner img {
  width: 0.69444444rem;
  position: absolute;
  margin-top: 0.35rem;
  float: left;
  margin-left: 0.69444444rem;
}
.banner p {
  text-align: center;
  line-height: 1.38rem;
  color: #fff;
  font-size: 0.41666667rem;
}
.lines {
  margin-top: 0.27777778rem;
  width: 0.83333333rem;
}
.div-section {
  height: 1.38888889rem;
  border-bottom: 0.02777778rem solid #eff0eb;
  line-height: 1.38888889rem;
  font-size: 0.38888889rem;
}
.line {
  height: 0.33333333rem;
  background-color: #eff0eb;
}
.phone-color {
  color: #3e9ece;
}
.marbom {
  width: 100%;
  height: 2.77777778rem;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 5;
}
