body {
  font-family: "SimHei";
  background-color: #eff0eb;
  color: #7f8180;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0.20833333rem;
  padding-left: 0.20833333rem;
}
.indentMsg {
  height: 0.72222222rem;
  width: 100%;
  font-size: 0.38888889rem;
  line-height: 0.72222222rem;
  border-bottom: 0.02777778rem solid #eff0eb;
}
.indentMsg .indentId {
  float: left;
}
.indentMsg .indemtTime {
  float: right;
}
.indent-center {
  height: 2.5rem;
}
.bgt {
  border-bottom: 0.02777778rem solid #eff0eb;
}
.indentPhoto {
  width: 3.26388889rem;
  float: left;
}
.indentPhoto img {
  width: 2.08333333rem;
  height: 1.38888889rem;
  margin-top: 0.55555556rem;
}
.indent-num {
  float: left;
  margin-top: 0.34722222rem;
  width: 5.55555556rem;
}
.indent-num p {
  font-size: 0.38888889rem;
  line-height: 0.69444444rem;
}
.indent-num div {
  font-size: 0.33333333rem;
  line-height: 0.55555556rem;
}
.indent-num span {
  color: #3e9ece;
}
.indentPrice {
  color: #ed3331;
}
.btmindent {
  height: 1.69444444rem;
  border-bottom: 0.30555556rem solid #eff0eb;
}
.btmindent div {
  float: right;
  font-size: 0.33333333rem;
  color: #3e9ece;
}
.btmindent .pingjia {
  margin-top: 0.27777778rem;
  width: 1.94444444rem;
  height: 0.83333333rem;
  border: 0.02777778rem solid #3e9ece;
  border-radius: 0.13888889rem;
  background-color: #fff;
}
.btmindent .productIt {
  margin-top: 0.27777778rem;
  width: 1.29166667rem;
  height: 0.83333333rem;
  border: 0.02777778rem solid #3e9ece;
  border-radius: 0.13888889rem;
  background-color: #fff;
}
.home_shop_nomore {
  width: 100%;
  height: 1.38888889rem;
  text-align: center;
  line-height: 1.38888889rem;
  font-size: 0.45rem;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 5;
}
