body {
  background-color: #f1f3eb;
  font-family: "SimHei";
}
.none {
  height: 2.77777778rem;
  font-size: 0.55555556rem;
  text-align: center;
}
.banner,
.res-titlt,
.address,
.QRcode,
.user-comment {
  background-color: #fff;
}
.banner {
  width: 100%;
  height: 5.31944444rem;
}
.banner .cir {
  display: inline-block;
  width: 0.90277778rem;
  height: 0.90277778rem;
  background-color: gray;
  opacity: 0.3;
}
.banner .cir img {
  width: 0.76388889rem;
  margin-top: 0.06944444rem;
  margin-left: 0.05555556rem;
}
.banner .cir-left {
  float: left;
  margin: 0.23611111rem 0 0 0.38888889rem;
}
.banner .cir-right {
  float: right;
  margin: 0.23611111rem 0.44444444rem 0 0;
}
.res-titlt {
  width: 100%;
  height: 2.01388889rem;
  font-size: 0.55555556rem;
  line-height: 1.25rem;
  text-indent: 0.41666667rem;
}
.address {
  height: 1.25rem;
  margin-top: 1px;
  font-size: 0.375rem;
}
.address-left {
  width: 12.5%;
  float: left;
}
.address-center {
  width: 75%;
  float: left;
}
.address-right {
  width: 12.5%;
  float: right;
  text-align: center;
}
.address-right img {
  width: 0.69444444rem;
  height: 0.69444444rem;
  margin: 0.26388889rem auto;
}
.address-message {
  display: inline-block;
  line-height: 1.23611111rem;
}
.img-center-left {
  margin: 0.27777778rem auto auto 0.31944444rem;
  width: 0.69444444rem;
  height: 0.69444444rem;
}
.QRcode {
  clear: both;
  margin-top: 0.30555556rem;
  padding: 30px auto;
  font-size: 0.375rem;
  height: 1.22222222rem;
}
.user-comment {
  margin-top: 0.30555556rem;
}
.user-co {
  width: 100%;
  height: 1.22222222rem;
}
.user-co span {
  display: inline-block;
  font-size: 0.41666667rem;
  line-height: 1.22222222rem;
  margin-left: 0.40277778rem;
}
.btn-group {
  margin: 0 auto 0.79166667rem 1.25rem;
  width: 7.5rem;
  height: 0.80555556rem;
}
.btn-group .btn {
  width: 2.5rem;
  height: 0.80555556rem;
  font-size: 0.375rem;
  color: #3e96c1;
  border: 3px solid #3e96c1;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.btn-group .btnact {
  background-color: #3e96c1;
  color: white;
}
.commentMsg {
  width: 94%;
  font-size: 0.375rem;
  margin: 0 3%;
  border-bottom: 0.02777778rem solid #7f8180;
}
.commentMsg .userImg {
  margin-left: 0.34722222rem;
  float: left;
  width: 1.34722222rem;
  height: 1.34722222rem;
}
.commentMsg .userContent {
  float: right;
  width: 6.94444444rem;
  margin-right: 0.48611111rem;
}
.commentMsg .userName {
  margin-top: 0.16666667rem;
  display: inline-block;
}
.commentMsg .contentText {
  font-size: 0.41666667rem;
  line-height: 0.625rem;
}
.commentMsg .userDate {
  margin-top: 0.16666667rem;
  float: right;
  display: inline-block;
  color: #7f8180;
}
.commentMsg .user-level {
  margin-top: 0.16666667rem;
  width: 0.375rem;
  height: 0.375rem;
}
.commentMsg .star-level {
  display: block;
}
.user-like {
  margin: 0.13888889rem auto;
}
.user-like span {
  margin-top: 0.23611111rem;
  display: inline-block;
  color: #7f8180;
  line-height: 0.76388889rem;
}
.user-like button {
  margin-top: 0.23611111rem;
  width: 1.94444444rem;
  height: 0.76388889rem;
  border: 1px solid #7f8180;
  border-radius: 0.41666667rem;
  float: right;
  text-indent: 0.55555556rem;
  line-height: 0.76388889rem;
  background-color: #fff;
  background: url("/assets/img/xin.png") no-repeat 0.20833333rem -0.04166667rem;
  background-size: 0.83333333rem;
}
.BusinessRe {
  padding: 0.2rem;
  background-color: #e5e5e5;
}
.BusinessRe span {
  color: #3e9ece;
}
