.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0.20833333rem;
  padding-left: 0.20833333rem;
}
.row-one {
  height: 2.95833333rem;
  border-bottom: 0.01388889rem solid #eff0eb;
}
.row-one .div-drawal {
  font-size: 0.41666667rem;
  line-height: 1.38888889rem;
}
.div-money label {
  font-size: 0.83333333rem;
  line-height: 1.38888889rem;
  display: block;
}
.div-money input {
  height: 1.38888889rem;
  border: none;
  outline: none;
  display: block;
  font-size: 0.83333333rem;
}
.div-money .danbi {
  font-size: 0.38888889rem;
  line-height: 1.38888889rem;
  color: #b6b6b6;
}
.row-two div {
  height: 1.31944444rem;
  font-size: 0.44444444rem;
}
.row-two .div-two {
  line-height: 1.31944444rem;
}
.row-two .yue {
  color: #b6b6b6;
}
.row-two .tixian {
  text-align: center;
  color: #0e93ef;
}
.row-two label {
  width: 1.80555556rem;
  line-height: 1.31944444rem;
}
.row-two input {
  border: none;
  outline: none;
}
.row-two .border-tb {
  border-bottom: 0.01388889rem solid #eff0eb;
}
.prompt {
  margin-top: 0.41666667rem;
}
.prompt span {
  font-size: 0.27777778rem;
  color: #b6b6b6;
}
.prompt .promptMsg {
  color: red;
}
.div-yzm {
  float: left;
}
.div-yzms {
  float: right;
}
.div-yzms .line {
  float: left;
  display: inline-block;
  width: 0.02777778rem;
  height: 0.69444444rem;
  background-color: #0e93ef;
  margin-top: 0.27777778rem;
  margin-right: 0.11111111rem;
}
.yzm {
  width: 3.19444444rem;
}
.btn-sty {
  line-height: 0.69444444rem;
  background-color: #0e93ef;
  border: none;
  color: #fff;
  margin-top: 0.27777778rem;
}
input::-webkit-input-placeholder {
  color: #b6b6b6;
}
input::-moz-placeholder {
  color: #b6b6b6;
}
.btn-submit {
  width: 100%;
  height: 1.23611111rem;
  background-color: #ed3331;
  font-size: 0.5rem;
  color: white;
  margin-bottom: 0.83333333rem;
  border: 0.01388889rem solid #ff0000;
  border-radius: 0.06944444rem;
}
