html,body{
	width: 100%;
	height: 100%;
}

/*header区域*/
header{
	width: 100%;
	height: 1.84rem;
	background-color: #3e9ece;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	border: solid 0.015rem #fff;

  /*很关键：将默认的select选择框样式清除*/
 	appearance:none;
 	-moz-appearance:none;
 	-webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
 	background: url("../images/drop-down.png") no-repeat scroll 95% 60% transparent;
	background-size: 30%;

  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
 	padding-right: 14px;
 	width: 2.15rem;
 	height:0.843rem;
 	margin: 0.468rem auto auto 0.156rem;
	color:#fff;
	font-size: 0.4rem;
	text-indent: 0.15rem;
	font-family: "微软雅黑";
	float: left;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.soso{
	width: 7.15rem;
	height: 0.843rem;
	background-color: #7ca5d1;
	float: left;
	margin: 0.468rem auto auto 0.09rem;
}
.soso input{
	width: 6.25rem;
	height: 0.843rem;
	background-color: #7ca5d1;
	outline: none;
	border:none;
	color: #e1e1e3;
	font-family: "微软雅黑";
	font-size: 0.4rem;
	text-indent: 0.2rem;
}
/* placeholder兼容问题处理 */
/* webkit 浏览器 */
.soso input::-webkit-input-placeholder {
    color: #e1e1e3;
	font-family: "微软雅黑";
	font-size: 0.4rem;
}
/* 火狐浏览器 */
.soso input::-moz-placeholder { 
	color: #e1e1e3;
	font-family: "微软雅黑";
	font-size: 0.4rem;
}
nav{
	width: 100%;
	height: 5.11rem;
}
nav a{
	float:left;
	// margin-left: 0.625rem;
	text-decoration: none;
	width: 20%;
	text-align: center;
}
nav div{
	// margin: auto 0.625rem;
}
nav img{
	width: 1.40rem;
	height: 1.40rem;
	display: block;
	margin: 0.264rem auto;
}
nav span{
	color:#000;
	font-family: "微软雅黑";
	font-size: 0.28rem;
}