body {
  font-family: "SimHei";
  color: #7f8180;
}
.row {
  margin: 0;
  padding: 0;
}
.banner {
  width: 100%;
  height: 1.38rem;
  background-color: #00a2f2;
}
.banner img {
  width: 0.69444444rem;
  position: absolute;
  margin-top: 0.35rem;
  float: left;
  margin-left: 0.69444444rem;
}
.banner p {
  text-align: center;
  line-height: 1.38rem;
  color: #fff;
  font-size: 0.41666667rem;
}
.menu {
  height: 0.97222222rem;
  border-bottom: 0.02777778rem solid #eff0eb;
  background-color: #fff;
  position: relative;
}
.menu div {
  height: 0.95833333rem;
  font-size: 0.38888889rem;
  line-height: 0.94444444rem;
  text-align: center;
  color: #b6b6b6;
}
.menu .border {
  border-bottom: 0.06944444rem solid #00a2f2;
}
.cir {
  position: absolute;
  top: 0.11111111rem;
  text-align: center;
  font-size: 0.25rem;
  line-height: 0.41666667rem;
  min-width: 0.41666667rem;
  height: 0.41666667rem;
  border: 0.01388889rem solid #ff0000;
  border-radius: 50%;
  background-color: red;
  color: #fff;
}
.cir1 {
  left: 32.63%;
}
.cir2 {
  right: 13.47%;
}
.Msg-now,
.Msg-old {
  height: 1.04166667rem;
  border-bottom: 0.02777778rem solid #eff0eb;
  font-size: 0.36111111rem;
  line-height: 1.01388889rem;
}
.Msg-now-left,
.Msg-old-left {
  margin-left: 0.54166667rem;
  float: left;
  height: 1.01388889rem;
  line-height: 1.01388889rem;
  width: 76.9%;
}
.Msg-now-time,
.Msg-old-time {
  width: 15.2%;
  height: 1.01388889rem;
  float: left;
  margin-left: 0.13888889rem;
  font-size: 0.27777778rem;
}
.Msg-now-left,
.Msg-now-time {
  color: black;
}
.home_shop_nomore {
  width: 100%;
  height: 1.38888889rem;
  text-align: center;
  line-height: 1.38888889rem;
  font-size: 0.45rem;
  margin-bottom: 1.38888889rem;
}
footer {
  width: 100%;
  height: 1.6rem;
  border-top: 1px solid #666;
  background-color: #fff;
}
footer div {
  width: 20%;
  float: left;
  text-align: center;
}
footer img {
  display: block;
  width: 0.937rem;
  height: 0.937rem;
  margin: 0.1rem auto;
}
footer span {
  width: 100%;
  color: #000;
  display: block;
  font-size: 0.35rem;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 5;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0.20833333rem;
  padding-left: 0.20833333rem;
}
.jiben {
  height: 1.02777778rem;
  border-bottom: 1px solid #eff0eb;
}
.jiben div {
  text-align: center;
  font-size: 0.36111111rem;
  line-height: 1.02777778rem;
}
.jiben div input {
  width: 100%;
  height: 0.94444444rem;
  font-size: 0.36111111rem;
  outline: none;
  color: black;
}
.subOrder {
  width: 90%;
  display: block;
  height: 1.23611111rem;
  background-color: #ed3331;
  font-size: 0.5rem;
  color: white;
  margin: 0.83333333rem auto;
  border: 0.01388889rem solid #ff0000;
  border-radius: 0.08rem;
  margin-bottom: 2.08333333rem;
}
.add {
  position: absolute;
  right: 0.625rem;
  bottom: 0.34722222rem;
  width: 0.48611111rem;
}
.env-item {
  height: 3.38888889rem;
  border-top: 0.31944444rem solid #eff0eb;
  border-bottom: 0.31944444rem solid #eff0eb;
  background-color: #fff;
}
.env-item .items-top {
  height: 0.51388889rem;
  padding: 0 0.55555556rem;
  font-size: 0.27777778rem;
  line-height: 0.51388889rem;
}
.env-item .items-top .top-left {
  float: left;
}
.env-item .items-top .top-right {
  float: right;
}
.env-item .items-center {
  height: 2.23611111rem;
  border-top: 1px solid #eff0eb;
  padding: 0 0.55555556rem;
}
.env-item .items-center .center-left {
  float: left;
  height: 2.22222222rem;
  width: 3.33333333rem;
}
.env-item .items-center .center-left img {
  width: 2.36111111rem;
  height: 1.86111111rem;
  margin-top: 0.16666667rem;
}
.env-item .items-center .center-right {
  float: right;
  width: 5.55555556rem;
  height: 2.22222222rem;
  font-size: 0.33333333rem;
}
.env-item .items-center .center-right p {
  line-height: 0.55555556rem;
}
.env-item .items-center .center-right .mar-p {
  margin-top: 0.18055556rem;
}
.env-item .items-center .center-right .shenhe {
  font-size: 0.27777778rem;
  padding: 0.20833333rem 0.23611111rem;
  color: #00a2f2;
  border: 1px solid #00a2f2;
  border-radius: 0.09722222rem;
  background-color: #fff;
  float: right;
  margin-right: 0.27777778rem;
}
.env-item .items-center .center-right .delect {
  font-size: 0.27777778rem;
  padding: 0.20833333rem 0.23611111rem;
  color: red;
  border: 1px solid red;
  border-radius: 0.09722222rem;
  background-color: #fff;
  float: right;
}
.upload {
  position: relative;
  height: 2.34722222rem;
  border-bottom: 0.31944444rem solid #eff0eb;
  background-color: #fff;
}
.upload input {
  position: absolute;
  left: 3.75rem;
  top: 0.63888889rem;
  display: block;
  width: 2.48611111rem;
  height: 0.77777778rem;
  font-size: 0.55555556rem;
  opacity: 0;
}
.upload button {
  background-color: #fff;
  display: inline-block;
  height: 0.77777778rem;
  border: 2px solid #00a2f2;
  margin: 0 auto;
  font-size: 0.38888889rem;
  color: #00a2f2;
  margin: 0.63888889rem 0 0 3.73611111rem;
}
.upload img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 2.34722222rem;
}
.uploadMsgs {
  border-top: 0.27777778rem solid #eff0eb;
}
.msg-items {
  height: 1.30555556rem;
  padding: 0 0.55555556rem;
  font-size: 0.5rem;
  line-height: 1.27777778rem;
  border-bottom: 1px solid #eff0eb;
}
.msg-items span {
  display: inline-block;
  width: 2.22222222rem;
}
.msg-items input {
  width: 6.25rem;
  font-size: 0.5rem;
  outline: none;
}
.msg-item {
  height: 0.86111111rem;
  padding: 0 0.55555556rem;
  font-size: 0.38888889rem;
  line-height: 0.83333333rem;
  border-bottom: 1px solid #eff0eb;
}
.msg-item span {
  color: #00a2f2;
}
.msg-item input {
  width: 6.25rem;
  font-size: 0.38888889rem;
  outline: none;
}
.choseAdd {
  width: 8.61111111rem;
  display: block;
  height: 1.11111111rem;
  background-color: #ed3331;
  font-size: 0.5rem;
  color: white;
  margin: 1.31944444rem auto;
  border: 0.01388889rem solid #ff0000;
  border-radius: 0.08rem;
  margin-bottom: 2.08333333rem;
}
.zenpin {
  width: 3.44444444rem !important;
  float: left;
}
.anniu {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0.27777778rem 0;
  padding: 0 0;
  font-size: 0.625rem;
  text-align: center;
  color: #00a2f2;
  line-height: 0.625rem;
  border: 1px solid #00a2f2;
  border-radius: 0.11111111rem;
  background-color: #fff;
  float: left;
}
.munZen {
  width: 0.97222222rem;
  height: 0.625rem;
  text-align: center;
  background-color: #fff;
  float: left;
}
