html,body{
	width: 100%;
	height:100%;
}
a{
	text-decoration: none;
}
/* banner区域的书写 */
.banner{
	width: 100%;
	height: 1.38rem;
	background-color: #3e9ece;
}
.banner img{
	position: absolute;
	margin-top: 0.21rem;
	height: 1rem;
	float: left;
	margin-left: 0.694rem;
}
.banner p{
	text-align: center;
	line-height: 1.38rem;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 0.6rem;
}

/* 中间大图区域 */
.center-img{
	clear: both;
	width: 4.166rem;
	height: 4.166rem;
	margin: 0 auto;
	margin-top: 0.71rem;
}
.center-img img{
	width: 100%;
	height: 100%;
}

/* 表单控件的书写 */
.form{
	clear: both;
}
.form input{
	width: 8.85rem;
	margin: 0.248rem 0.58rem;
	height: 1.28rem;
	display: block;
	border:1px solid #bfbfbf;
	border-radius: 0.1rem;
	text-indent: 1.1rem;
	font-size: 0.5rem;
}
.form input:nth-of-type(1){
	background: url(../img/img_mobilephone_one.png) no-repeat 2px;
	background-size: auto 100%;
}
.form input:nth-of-type(2){
	background: url(../img/img_verificationcode.png) no-repeat 2px;
	background-size: auto 100%;
}
.form input:nth-of-type(3){
	background: url(../img/img_lock_one.png) no-repeat 2px;
	background-size: auto 100%;
}
.form input:nth-of-type(4){
	background: url(../img/img_repeatpassword.png) no-repeat 2px;
	background-size: auto 100%;
}

/* placeholder兼容问题处理 */
/* webkit 浏览器 */
.form input::-webkit-input-placeholder {
    color: #7f8180;
    font-family: "微软雅黑";
    font-size: 0.5rem;
    line-height: 100%;
}
/* 火狐浏览器 */
.form input::-moz-placeholder { 
	color: #7f8180;
    font-family: "微软雅黑";
    font-size: 0.5rem;
    line-height: 100%;
}
.getCard{
	width: 2.5rem;
	height: 0.8333333333rem;
	border:1px solid #3e9ece;
	border-radius: 0.1rem;
	background-color: #3e9ece;
	color:#fff;
	font-size: 0.3rem;
	font-family: "微软雅黑";
	cursor: pointer;
	margin-left: 0.43rem;
	outline: none;
	
}
.card{
	width: 8.85rem;
	margin: 0.248rem 0.58rem;
	height: 1.28rem;
	display: block;
	border:1px solid #bfbfbf;
	border-radius: 0.1rem;
}
.card input{
	width: 5rem;
	margin: 0;
	display: inline-block;
	border:none;
	outline: none;
}

/* 注册 */
.btn-submit{
	width: 8.85rem;
	margin: 0.82rem 0.58rem 0 0.58rem;
	height: 1rem;
	border:1px solid #3e9ece;
	border-radius: 0.1rem;
	background-color: #3e9ece;
	color: #fff;
	text-align: center;
	line-height: 0.96rem;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 0.5rem;
	cursor: pointer;
	out-line: none;
}

/* 登陆 */
.jump-others{
	height: 1rem;
}
.jump-others a{
	color:#3e9ece;
	font-size: 0.5rem;
	font-family: "微软雅黑";
	margin-top: 0.36rem;
}
.jump-others a:nth-of-type(1){
	float: left;
	margin-left: 1.11rem;
}
.jump-others a:nth-of-type(2){
	float: right;
	margin-right: 1.11rem;
}

/* 服务电话 */
.telphone{
	margin-top: 1.118rem;
	font-size: 0.5rem;
	color: #000;
	font-family: "微软雅黑";
	text-align: center;
}