body {
  font-family: "SimHei";
  color: #444444;
  background-color: #e5e5e5;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 0.22222222rem solid #e5e5e5;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0.20833333rem;
  padding-left: 0.20833333rem;
}
.row div {
  background-color: #fff;
}
.banner {
  width: 100%;
  height: 1.38rem;
  background-color: #3e9ece;
}
.banner img {
  width: 0.69444444rem;
  position: absolute;
  margin-top: 0.35rem;
  float: left;
  margin-left: 0.69444444rem;
}
.img_add {
  position: absolute;
  right: 0.69444444rem;
  top: 0;
}
.banner p {
  text-align: center;
  line-height: 1.38rem;
  color: #fff;
  font-size: 0.41666667rem;
}
.address-name {
  font-size: 0.44444444rem;
  line-height: 1.25rem;
}
.address-phone {
  font-size: 0.43055556rem;
  line-height: 1.25rem;
}
.address {
  font-size: 0.38888889rem;
  margin-bottom: 0.02777778rem;
  min-height: 0.875rem;
  line-height: 0.55555556rem;
}
.chose {
  height: 1.16666667rem;
  font-size: 0.38888889rem;
  line-height: 1.16666667rem;
}
.chose img {
  float: left;
  width: 0.41666667rem;
  margin: 0.36111111rem 0.20833333rem auto auto;
}
.chose p {
  display: inline-block;
}
.chose .active {
  color: #3e9ece;
}
.add-change {
  height: 1.16666667rem;
  font-size: 0.38888889rem;
  line-height: 1.16666667rem;
}
.add-change img {
  float: right;
  width: 0.41666667rem;
  margin: 0.36111111rem 0.13888889rem auto 0.27777778rem;
}
.add-change span {
  float: right;
}
.add-change div {
  float: left;
}
.marbom {
  margin-bottom: 1.38888889rem;
}
