html,
body {
  width: 100%;
  height: 100%;
  font-family: "微软雅黑";
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}
/* header区域 */
header {
  width: 100%;
  height: 1.84rem;
  background-color: #3e9ece;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 0.015rem #fff;
  border-radius: 0.1rem;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/assets/img/drop-down.png") no-repeat scroll 95% 60% transparent;
  background-size: 30%;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
  width: 2.17rem;
  height: 0.843rem;
  margin: 0.5rem auto 0 0.2rem;
  color: #fff;
  font-size: 0.4rem;
  text-indent: 0.15rem;
  font-family: "微软雅黑";
  float: left;
  background-color: #3e9ece;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none;
}
/* 搜索框的样式 */
.soso {
  width: 7.15rem;
  height: 0.859rem;
  background-color: #7ca5d1;
  float: left;
  margin: 0.5rem auto auto 0.09rem;
}
.soso input {
  width: 6.25rem;
  height: 0.843rem;
  background-color: #7ca5d1;
  outline: none;
  border: none;
  color: #e1e1e3;
  font-family: "微软雅黑";
  font-size: 0.4rem;
  text-indent: 0.2rem;
}
/* placeholder兼容问题处理 */
/* webkit 浏览器 */
.soso input::-webkit-input-placeholder {
  color: #e1e1e3;
  font-family: "微软雅黑";
  font-size: 0.4rem;
}
.search-shop {
  display: inline-block;
  float: right;
  height: 0.843rem !important;
  width: 0.843rem !important;
  background-color: #7ca5d1;
  background: url(/assets/img/glyphicons-halflings-white.png) -1.15rem 0.25rem no-repeat;
  background-size: 13rem;
}
/* 火狐浏览器 */
.soso input::-moz-placeholder {
  color: #e1e1e3;
  font-family: "微软雅黑";
  font-size: 0.4rem;
}
.search-soso {
  display: inline-block;
  width: 0.843rem;
  height: 0.843rem;
  background-color: red;
}
/* nav区域 */
nav {
  width: 100%;
  height: 4.8rem;
}
nav a {
  float: left;
  text-decoration: none;
  width: 20%;
  text-align: center;
}
nav img {
  width: 1.40rem;
  height: 1.40rem;
  display: block;
  margin: 0.264rem auto;
}
nav span {
  color: #000;
  font-family: "微软雅黑";
  font-size: 0.28rem;
}
/* 分割线的样式 */
.hr-change {
  width: 100%;
  height: 0.14rem;
  background-color: #3e9ece;
  border: none;
  margin: 0;
  padding: 0;
}
.two-page {
  height: 3.43rem;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}
.three-page {
  height: 3.43rem;
  border-right: 1px solid #666;
}
.page-no {
  border-right: none;
}
.border-t-b {
  border-bottom: 1px solid #666;
}
.border-t-p {
  border-top: 1px solid #666;
}
.shop-title {
  color: #d8d8d8;
  font-size: 0.375rem;
  font-family: "微软雅黑";
  display: block;
  text-align: center;
  margin: 0.343rem auto 0.453rem auto;
}
/* 附近商店 */
.nearShop {
  height: 3.28rem;
  width: 60%;
}
.top-titlemap {
  height: 0.85rem;
}
.div-name {
  height: 0.390625rem;
  font-size: 0.406rem;
  margin-top: 0.34rem;
}
.shopDistance {
  font-size: 0.38rem;
  color: #b6b6b6;
  height: 0.390625rem;
  margin-top: 0.34rem;
}
.row {
  margin: 0;
  padding: 0;
}
.pro-photo {
  width: 3.28125rem;
  height: 3.125rem;
  margin-top: 0.0625rem;
}
.shopAddress {
  color: #585858;
  font-size: 0.35rem;
  display: block;
  background: url(/assets/img/maps.png) no-repeat;
  text-indent: 0.4rem;
  background-size: 0.3rem;
  margin-top: 0.2rem;
  overflow: hidden;
  height: 0.4rem;
}
.star {
  float: left;
  width: 0.468rem;
  height: 0.468rem;
  vertical-align: bottom;
  margin: 0.23rem 0 0.12rem 0;
}
.On-sale {
  display: inline-block;
  color: #b6b6b6;
  font-size: 0.4rem;
  line-height: 0.48rem;
  margin: 0.23rem 0 0.15rem 0;
}
.ourmembers {
  font-family: "微软雅黑";
  font-size: 0.25rem;
  text-indent: 0.35rem;
}
.ourprice {
  font-family: "微软雅黑";
  color: red;
  font-size: 0.35rem;
  line-height: 0.45rem;
}
.home_shop_nomore {
  width: 100%;
  height: 1.5625rem;
  text-align: center;
  line-height: 1.5625rem;
  font-size: 0.45rem;
  margin-bottom: 1.5625rem;
}
/* 固定在底部的样式 */
footer {
  width: 100%;
  height: 1.6rem;
  border-top: 1px solid #666;
  background-color: #fff;
}
footer div {
  width: 20%;
  float: left;
  text-align: center;
}
footer img {
  display: block;
  width: 0.937rem;
  height: 0.937rem;
  margin: 0.10rem 0.5rem;
}
footer span {
  width: 100%;
  color: #000;
  display: block;
  font-family: "微软雅黑";
  font-size: 0.262rem;
}
