body {
  font-family: "SimHei";
}
.row {
  margin: 0;
  padding: 0;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0.20833333rem;
  padding-left: 0.20833333rem;
}
.banner {
  width: 100%;
  height: 1.38rem;
  background-color: #3e9ece;
}
.banner img {
  width: 0.69444444rem;
  position: absolute;
  margin-top: 0.35rem;
  float: left;
  margin-left: 0.69444444rem;
}
.banner p {
  text-align: center;
  line-height: 1.38rem;
  color: #fff;
  font-size: 0.41666667rem;
}
.proMsg {
  border-top: 0.30555556rem solid #eff0eb;
  font-size: 0.38888889rem;
}
.proMsg-top {
  height: 2.69444444rem;
}
.proMsg-center {
  height: 1.27777778rem;
  border-top: 0.27777778rem solid #eff0eb;
}
.proMsg-center span {
  color: #7f8180;
  float: left;
  font-size: 0.38888889rem;
  line-height: 1rem;
  margin: auto 1.11111111rem auto 0.27777778rem;
}
.proMsg-center img {
  width: 0.55555556rem;
  float: left;
  margin-top: 0.20833333rem;
}
.proMsg-bottom {
  border-top: 0.52777778rem solid #eff0eb;
}
.proMsg-top-img {
  width: 2.63888889rem;
  height: 2.69444444rem;
  float: left;
}
.proMsg-top-img img {
  width: 2.15277778rem;
  height: 1.45833333rem;
  margin: 0.58333333rem 0.20833333rem auto 0.27777778rem;
}
.proMsg-top-title {
  float: left;
  height: 2.69444444rem;
  width: 6.94444444rem;
}
.proMsg-top-title p {
  margin-top: 0.41666667rem;
  color: #7f8180;
}
.proMsg-top-title span {
  display: block;
  margin-top: 0.34722222rem;
  color: #ababab;
}
.proMsg-bottom textarea {
  display: block;
  width: 9.47222222rem;
  height: 2.86111111rem;
  margin: 0.55555556rem auto 0.47222222rem auto;
  border: 1px dashed #ababab;
  text-align: left;
  outline: none;
  resize: none;
  line-height: 0.55555556rem;
  text-indent: 1em;
  color: #ababab;
}
.photo {
  height: 2.5rem;
  position: relative;
  text-align: center;
  background-size: 1rem;
}
.photo img {
  width: 2.09722222rem;
  height: 2.09722222rem;
  margin: 0.20833333rem auto;
  background: url(/assets/img/img_carema_black.png) no-repeat center;
}
.rows {
  border-top: 0.29166667rem solid #eff0eb;
}
.rows .tijiao {
  margin: 0.72222222rem auto;
  width: 100%;
  height: 1.23611111rem;
  background-color: #ed3331;
  font-size: 0.5rem;
  color: white;
  border: 0.01388889rem solid #ff0000;
  border-radius: 0.06944444rem;
}
#xzw_starBox {
  position: relative;
  width: 3.05555556rem;
  float: left;
  margin-top: 0.20833333rem;
}
.star {
  height: 0.625rem;
  width: 3.05555556rem;
  position: relative;
  background: url(/assets/img/123.png) repeat-x;
  background-size: 0.625rem;
  cursor: pointer;
}
.star li {
  float: left;
  padding: 0px;
  margin: 0px;
}
.star li a {
  display: block;
  width: 0.55555556rem;
  height: 0.625rem;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  z-index: 5;
}
.star a.one-star {
  left: 0;
}
.star a.two-stars {
  left: 0.66666667rem;
}
.star a.three-stars {
  left: 1.33333333rem;
}
.star a.three-stars:hover {
  width: 2rem;
}
.star a.four-stars {
  left: 2rem;
}
.star a.five-stars {
  left: 2.66666667rem;
}
.current-rating {
  background: url(/assets/img/123.png) 0 -0.69444444rem repeat-x;
  background-size: 0.625rem;
  position: absolute;
  height: 0.625rem;
  z-index: 1;
  top: 0.015rem;
  left: 0;
}
#fileToUpload {
  width: 2.09722222rem;
  height: 2.09722222rem;
  margin: 0.20833333rem auto;
  position: absolute;
  font-size: 2.09722222rem;
  left: 0;
  top: 0;
  z-index: 15;
  opacity: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 5;
}
