.bgc,
.hotBuy {
  background-color: #f5f5f5;
}
.userProducts {
  background-color: #fff;
}
.banner {
  width: 100%;
  height: 3.95833333rem;
}
.banner .cir {
  display: inline-block;
  width: 0.90277778rem;
  height: 0.90277778rem;
  background-color: #a2a3a0;
  border:1px solid #a2a3a0;
  border-radius: 50%;
  opacity: 0.5;
}
.banner .cir img {
  width: 0.83333333rem;
  height: 0.83333333rem;
  margin-top: 0.02777778rem;
}
.banner .cir-left {
  float: left;
  margin: 0.23611111rem 0 0 0.38888889rem;
}
.banner .cir-right {
  float: right;
  margin: 0.23611111rem 0.44444444rem 0 0;
}
.bannerBar {
  width: 100%;
  height: 1.02777778rem;
  background-color: orange;
}
.bannerBar .p-top {
  font-family: "SimHei";
  font-size: 0.41666667rem;
  margin-bottom: 0.06944444rem;
  color: white;
}
.bannerBar .p-bottom {
  font-family: "SimHei";
  font-size: 0.27777778rem;
  color: white;
}
.bannerBar .border {
  margin-top: 0.13888889rem;
}
.bannerBar .border-left {
  border-left: 1px solid #ababab;
}
.preferential {
  width: 100%;
  height: 1.15277778rem;
  border-bottom: 0.01388889rem solid #ababab;
}
.preferential img {
  margin-left: 0.55555556rem;
}
.preferential span {
  margin-left: 0.27777778rem;
  display: inline-block;
  line-height: 1.15277778rem;
  font-size: 0.27777778rem;
}
.hotBuyTitle {
  display: inline-block;
  border-left: 0.06944444rem solid #ff0000;
  text-indent: 0.41666667rem;
  font-size: 0.41666667rem;
  font-family: "SimHei";
  margin: 0.34722222rem auto;
}
.userProducts {
  font-family: "SimHei";
  width: 4.93055556rem;
  display: inline-block;
  margin-bottom: 0.16666667rem;
}
.userProducts img {
  width: 4.93055556rem;
  height: 4.52777778rem;
}
.userProducts p {
  margin: 0.13888889rem 0.41666667rem;
  font-size: 0.33333333rem;
}
.userProducts span {
  margin: 0.41666667rem 0.16666667rem auto 0.41666667rem;
  display: inline-block;
}
.userProducts .price {
  float: left;
  color: #f80423;
  font-size: 0.41666667rem;
  line-height: 0.55555556rem;
}
.userProducts .show {
  float: right;
  color: #ababab;
  font-size: 0.27777778rem;
  line-height: 0.55555556rem;
}
.allDish {
  margin-bottom: 2.08333333rem;
}
footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.30555556rem;
  border-top: 0.01388889rem solid #ababab;
}
.row {
  margin: 0;
  padding: 0;
  text-align: center;
}
.row div {
  margin: 0;
  padding: 0;
}
.footer-p {
  width: 100%;
  height: 0.625rem;
  margin-top: 0.34722222rem;
  font-family: "SimHei";
  font-size: 0.41666667rem;
  line-height: 0.625rem;
  color: #ababab;
}
.footer-p-img {
  background: url(/assets/img/img_mcr_menu_type.png) no-repeat 1.6rem;
  background-size: 0.4rem;
}
.tel-footer {
  border-left: 0.01388889rem solid #ababab;
  background: url(/assets/img/img_phone_call.png) no-repeat 1.15rem;
  background-size: 0.4rem;
}
