<md-dialog aria-label="add to list" class="ang-dialog" ng-cloak>
  <md-button ng-click="closeModal()" class="close-dialog-btn">
    <i id="close-icon" class="material-icons">close</i>
  </md-button>

  <div class="dialog-content padding-top-10 text-center">
    <md-dialog-content class="add-to-list-content padding-0">
      <div>
        <h1 class="md-headline">ADD TO LIST</h1>
      </div>
      <!-- menu to create new list-->
      <md-menu md-offset="10 50">

        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" style="width:100%;max-width:200px">
          <h5 class="md-title margin-0">+ CREATE LIST</h5>
        </md-button>

          <md-menu-content width="5" class="pop-up-menu padding-5">
            <ng-form name="addListForm" novalidate="false">
              <md-input-container md-no-float class="md-block">
                <label>List Name:</label>
                <input type="text" ng-model="addList.listName" required name="listName">
                <div ng-messages="addListForm.listName.$error" role="alert" ng-if="addListForm.listName.$touched">
                  <div ng-message="required">List Name is required!</div>
                </div>
              </md-input-container>
              <a
                 class="md-raised md-button"
                 ngf-select="uploadBackgroundPic($files, $invalidFiles)" multiple
                 accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Upload Pic</a>
              <md-input-container md-no-float class="md-block">
                <img ngf-src="addList.image" style="width:100%;max-width:200px;max-height:90px">
                <input type="hidden" ng-model="addList.image" required name="backgroundPic">
                <div ng-messages="addListForm.backgroundPic.$error" role="alert" ng-if="addListForm.backgroundPic.$touched">
                  <div ng-message="required">background picture is required!</div>
                </div>
              </md-input-container>
              <md-input-container md-no-float class="md-block">
                <label>Tags: fun, lobster, night life</label>
                <input type="text" ng-model="addList.tags" required name="tags">
                <div ng-messages="addListForm.tags.$error" role="alert" ng-if="addListForm.tags.$touched">
                  <div ng-message="required">Tags is required!</div>
                </div>
              </md-input-container>
              <a ng-click="createList()" class="md-button">
                <h6 class="md-title margin-0" >Create</h6>
              </a>
            </ng-form>
          </md-menu-content>

      </md-menu>

      <section ng-repeat="cpList in cpLists" class="box text-center">
        <img src="{{cpList.image}}" class="background">
        <div class="background-overlay"></div>

        <div class="padding-top-10">
          <md-button class="md-headline color-white block margin-auto" ng-click="addToList(cpDishId,cpList._id)">
            <h5>{{cpList.listName}}</h5>
          </md-button>
        </div>
        <h5 class="margin-10">{{cpList.dishes.length}} Dishes</h5>
        <div layout="row" layout-wrap class=" padding-20">
          <i class="material-icons md-caption" style="font-size:1em;">local_offer</i>
          <span class="md-body-1 margin-horizontal-5" ng-repeat="tag in cpList.tags">#{{tag}}</span>
        </div>
      </section>

    </md-dialog-content>
  </div>
</md-dialog>
