<md-dialog aria-label="add to list" class="ang-dialog" ng-cloak ng-controller="SigninSignupCtrl">
    <md-button ng-click="closeModal()" class="close-dialog-btn">
        <i id="close-icon" class="material-icons">close</i>
    </md-button>
    <div class=" margin-top-10 padding-20">
        <ng-form name="signupForm" layout-align="center center" novalidate="false" ng-if="page === 'signUp'" ng-controller="SigninSignupCtrl">
            <md-content class="md-no-momentum" layout-padding>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>First Name</label>
                    <md-icon md-svg-src="./assets/img/ic_person_black_24px.svg" class="name"></md-icon>
                    <input ng-model="user.firstName" type="text" name="firstName" required  maxlength="30" minlength="2">
                    <div ng-messages="signupForm.firstName.$error" role="alert" ng-if="signupForm.firstName.$touched">
                        <div ng-message="required">First Name is required!</div>
                        <div ng-message="maxlength">First Name can be at most 30 characters long.</div>
                        <div ng-message="minlength">First Name is too short.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Last Name</label>
                    <md-icon md-svg-src="" class="name"></md-icon>
                    <input ng-model="user.lastName" name="lastName" type="text" required maxlength="30" minlength="2">
                    <div ng-messages="signupForm.lastName.$error" role="alert" ng-if="signupForm.lastName.$touched">
                        <div ng-message="required">Last Name is required!</div>
                        <div ng-message="maxlength">Last Name can be at most 30 characters long.</div>
                        <div ng-message="minlength">Last Name is too short.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-src="./assets/img/ic_mail_black_24px.svg" class="email"></md-icon>
                    <input ng-model="user.emailAddress" name="emailAddress" type="email" maxlength="100" minlength="10" placeholder="Email (required)" required>
                    <div ng-messages="signupForm.emailAddress.$error" role="alert" ng-if="signupForm.emailAddress.$touched">
                        <div ng-message="required">Please enter your email.</div>
                        <div ng-message="email">This field must be a valid email address.</div>
                        <div ng-message="maxlength">Your email must be between 10 and 100 characters long and look like an e-mail address. </div>
                        <div ng-message="minlength">Your email must be between 10 and 100 characters long and look like an e-mail address. </div>
                    </div>
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <md-icon md-svg-src="./assets/img/ic_vpn_key_black_24px.svg" class="password"></md-icon>
                    <input ng-model="user.password" name="password" type="password" placeholder="Password (required)" required minlength="6" maxlength="100">
                    <div ng-messages="signupForm.password.$error" role="alert" ng-if="signupForm.password.$touched">
                        <div ng-message="required">Please enter a valid password combination</div>
                        <div ng-message="maxlength">Password can be at most 100 characters long.</div>
                        <div ng-message="minlength">Password is too short.</div>
                    </div>
                </md-input-container>

                <md-input-container ng-show="apiError">
                    <div>
                        <div style="color:red">{{apiError}}</div>
                    </div>
                </md-input-container>

                <md-button class="md-raised md-accent" ng-click="signup()">sign up</md-button>
                <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="fbSignin()"><i class="fa fa-facebook fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
                <google-plus-signin clientid="599765780672-7bro1vl9antmfkn0b4fbs3alk8oq38c1"></google-plus-signin>
                <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="instagramSignin()"><i class="fa fa-instagram fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
                <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="twitterSignin()" id="connectButton" ><i class="fa fa-twitter fa-2x"  style="color: white ; padding-top: 7px"></i></md-button>

                <p>Already have an account? <a href="javascript:;" class="md-primary" ng-click="showSignin($event)">log in here</a></p>
            </md-content>
        </ng-form>

        <ng-form name="signinForm" layout-align="center center" novalidate="false" ng-keypress="passwordSignin($event)"  ng-if="page === 'signIn'" ng-controller="SigninSignupCtrl">
            <md-content class="md-no-momentum" layout-padding>
                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-src="./assets/img/ic_mail_black_24px.svg" class="email"></md-icon>
                    <input
                            ng-model="user.emailAddress"
                            type="email"
                            name="emailAddress"
                            placeholder="emailAddress"
                            required
                            >
                    <div ng-messages="signinForm.emailAddress.$error" role="alert" ng-if="signinForm.emailAddress.$touched">
                        <div ng-message="required">Please enter your email.</div>
                        <div ng-message="email">This field must be a valid email address.</div>
                    </div>
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <md-icon md-svg-src="./assets/img/ic_vpn_key_black_24px.svg" class="password"></md-icon>
                    <input
                            ng-model="user.password"
                            type="password"
                            name="password"
                            placeholder="Password"
                            tooltip="Please insert your password"
                            ng-trim="true"
                            required
                            >
                    <div ng-messages="signinForm.password.$error" role="alert" ng-if="signinForm.password.$touched">
                        <div ng-message="required">Please enter your password.</div>
                    </div>
                </md-input-container>
                <md-input-container ng-show="apiError">
                    <div>
                        <div style="color:red">{{apiError}}</div>
                    </div>
                </md-input-container>


                <md-content layout-align="center center" layout-padding>
                    <md-button class="md-raised md-accent" ng-click="passwordSignin()">Log In</md-button>
                    <md-button class="md-primary" ng-click="forgotPassword($event)" >Forgot Password</md-button></p>
                    <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="fbSignin()"><i class="fa fa-facebook fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
                    <google-plus-signin clientid="599765780672-7bro1vl9antmfkn0b4fbs3alk8oq38c1"></google-plus-signin>
                    <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="instagramSignin()"><i class="fa fa-instagram fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
                    <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="twitterSignin()"><i class="fa fa-twitter fa-2x"  style="color: white ; padding-top: 7px"></i></md-button>
                </md-content>

                <p>Don't have an account?<md-button class="md-primary"  ng-click="showSignup($event)" >Sign up here</md-button></p>
            </md-content>
        </ng-form>

        <ng-form name="forgotPasswordForm" layout-align="center center" novalidate="false" ng-if="page === 'forgotPassword'" ng-controller="SigninSignupCtrl">
            <md-content class="md-no-momentum" layout-padding>
                <h2>Forgot Password</h2>
                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-src="./assets/img/ic_mail_black_24px.svg" class="email"></md-icon>
                    <input
                            ng-model="user.emailAddress"
                            type="email"
                            name="emailAddress"
                            placeholder="emailAddress"
                            required
                            >
                    <div ng-messages="forgotPasswordForm.emailAddress.$error" role="alert" ng-if="forgotPasswordForm.emailAddress.$touched">
                        <div ng-message="required">Please enter your email.</div>
                        <div ng-message="email">This field must be a valid email address.</div>
                    </div>
                </md-input-container>

                <md-input-container ng-show="apiError">
                    <div>
                        <div style="color:red">{{apiError}}</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-accent" aria-label="forgot password">Submit</md-button>


                <md-content layout-align="center center" layout-padding>
                    <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="fbSignin()"><i class="fa fa-facebook fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
                    <google-plus-signin clientid="599765780672-7bro1vl9antmfkn0b4fbs3alk8oq38c1"></google-plus-signin>
                    <md-button class="md-fab md-mini md-primary" layout-align="center center"><i class="fa fa-instagram fa-2x" style="color: white ; padding-top: 7px"></i></md-button>
                    <md-button class="md-fab md-mini md-primary" layout-align="center center" ng-click="twitterSignin()"><i class="fa fa-twitter fa-2x"  style="color: white ; padding-top: 7px"></i></md-button>
                </md-content>

                <p>Don't have an account?<md-button class="md-primary"  ng-click="showSignup($event)" >Sign up here</md-button></p>
            </md-content>
        </ng-form>
    </div>
</md-dialog>

