	<link rel="stylesheet" href="/assets/css/login.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
		<div class="banner">
			<img src="/assets/img/return.png" alt="返回">
			<p>忘记密码</p>
		</div>
		<div class="center-img">
			<img src="/assets/img/top-banner.png" alt="banner">
		</div>
		<div class="form">
			<input type="text" class="form-control" placeholder="请输入手机号">
			<input type="text" class="form-control" placeholder="请输入验证码">
			<button class="getCard">获取验证码</button>
			<input type="password" class="form-control" placeholder="请输入新的密码">
			<input type="password" class="form-control" placeholder="重复输入新的密码">
			<div class="btn-submit">重置密码</div>
		</div>
		<div class="telphone">
				<p>服务电话：400-7731377</p>
		</div>