<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/smallShop.css">
</head>
<body>
	<div class="banner"></div>
	<div class="bannerBar"></div>
	<div class="preferential"></div>
	<div class="bgc clearfix">
		<div class="hotBuy">
			<div class="hotBuyTitle">热销</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="userProducts">
						<img src="" alt="">
						<p>筒骨煲</p>
						<span class="price">￥98</span>
						<span class="show">销量152</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="userProducts">
						<img src="" alt="">
						<p>筒骨煲</p>
						<span class="price">￥98</span>
						<span class="show">销量152</span>
					</div>
				</div>
			</div>
		</div>
		<div class="Recommend">
			<div class="hotBuyTitle">店长推荐</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="userProducts">
						<img src="" alt="">
						<p>筒骨煲</p>
						<span class="price">￥98</span>
						<span class="show">销量152</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="userProducts">
						<img src="" alt="">
						<p>筒骨煲</p>
						<span class="price">￥98</span>
						<span class="show">销量152</span>
					</div>
				</div>
			</div>
		</div>
		<div class="allDish">
			<div class="hotBuyTitle">全部商品</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="userProducts">
						<img src="" alt="">
						<p>筒骨煲</p>
						<span class="price">￥98</span>
						<span class="show">销量152</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="userProducts">
						<img src="" alt="">
						<p>筒骨煲</p>
						<span class="price">￥98</span>
						<span class="show">销量152</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<i class = "icon-bar"></i>
				<i class = "icon-bar"></i>
				<i class = "icon-bar"></i>
				<p class="footer-p">分类</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<p class="footer-p tel-footer">联系商家</p>
			</div>
		</div>
	</footer>
	 <script src="/assets/js/flexible.js"></script>
</body>
</html>