<div layout-xs="column" layout-wrap class="dish-list">
  <section class="dish margin-bottom-10" ng-repeat="dish in dishes">
    <div layout="row">
      <div flex="20">
        <section class="dish-image-container">
          <img ng-src="{{dish.images.length > 0 ? dish.images[0]:'./assets/img/dishImagePlaceholder.png'}}" alt="dish" ng-click="showDishModal($event,dish)">
        </section>
      </div>
      <div flex="80" class="info padding-10">
        <section layout="row">
          <h4 flex="75" class="inline-block dish-title" ng-click="showDishModal($event,dish)">{{dish.name | cut:true:25:'...'}}</h1>
          <h5 flex="25" class="text-right color-grey">${{dish.price}}</h5>
        </section>
        <section class="dish-description" style="min-height:50px; max-height:150px; overflow:auto">
          <p class="padding-vertical-5">{{dish.description | cut:true:85:'...'}}</p>
        </section>
        <section class="icons">
          <a href="" ng-click="showConfirmationToast(dish)"><i class="fa fa-shopping-basket nav-item fa-2x"></i></a>
        </section>
      </div>
    </div>
  </section>

</div>
